<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col mr-auto ml-auto">
        <!--      Wizard container        -->
        <div class="wizard-container">
          <div class="card card-wizard" data-color="blue" id="wizardProfile">
            <form [formGroup]="type" action="" method="">
              <!--        You can switch " data-color="primary" "  with one of the next bright colors: "green", "orange", "red", "blue"       -->
              <div class="card-header text-center">
                <h3 class="card-title my-2 " style="font-weight: 600;">
                  {{title}}
                </h3>
                <!-- <h5 class="card-description">This information will let us know more about you.</h5> -->
              </div>
              <div class="wizard-navigation">
                <ul class="nav nav-pills">
                  <li class="nav-item">
                    <a class="nav-link active" href="#about" data-toggle="tab" role="tab">
                      About
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#address" data-toggle="tab" role="tab">
                      Address
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#timing" data-toggle="tab" role="tab">
                      Timing
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#payment" data-toggle="tab" role="tab">
                      Payment Method
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#document" data-toggle="tab" role="tab">
                      Document
                    </a>
                  </li>
                </ul>
              </div>
              <div class="card-body">
                <div class="tab-content">
                  <div class="tab-pane active" id="about">
                    <!-- <h5 class="info-text"> Fill the details as per valid ID Proof</h5> -->
                    <div class="row">
                       <!-- <button  class="btn  btn-fill btn-primary btn-wd" (click)="refreshPage()">submit</button> -->
                      <div class="addimage-container mx-4">
                        <div formArrayName="images">
                          <div class="d-flex flex-wrap">
                            <div *ngFor="let item of type.controls.images['controls']; let i=index">
                              <!-- <p class="border-bold-text"></p> -->
                              <div [formGroupName]="i">
                                <!-- {{item.value? item.value.imageURL : ''}} -->
                                <div class="picture-container col-3 col-md-6 col-12">
                                  <span class="close-icon" (click)="removeImages(i)"></span>
                                  <div class="picture-square"> 
                                    <img [src]="item.value? item.value.imageURL : ''" onerror="this.onerror=null;this.src='../../../assets/img/image_placeholder.jpg'"  class="picture-src"
                                      id="restaurantPreview{{i}}" />
                                    <!-- <input type="file" #restaurant style="display: none;"
                                      (change)="LoadFile($event, i)"> -->
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-3 {{uploadProgress ? 'disable-pointer' : ''}}" *ngIf="type.controls.images['controls'].length < 8">
                              <div class="picture-container">
                                <div class="picture-square" (click)="addMoreImages()">
                                  <span class="add-image" ></span>
                                </div>
                                <input type="file" id="restaurant" style="display: none;"
                                  (change)="LoadFile($event)" accept=".jpeg,.jpg,.png,">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="my-2 row col-6 offset-3">
                        <div *ngIf="progressValue | async as val" class="d-flex justify-content-center">
                          <progress type="warning"  [value]="val" style="height: 3mm; width: 200px" max="100" ></progress>
                        </div>
                        <div *ngIf="progressValue | async as val" class="d-flex justify-content-center">
                            <span *ngIf="val<100" style="font-size: 16px;">{{ val | number}}% </span>
                            <span *ngIf="val == 100" style="color:rgb(1, 153, 34);  font-size: 16px">Completed !</span>
                        </div>
                      </div>  
                    </div>
                    <div class="row justify-content-center">
                      <div class="col-lg-10 mt-3">
                        <div class="input-group form-control-lg p-0">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">restaurant</i>
                            </span>
                          </div>
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Restaurant name" formControlName="restuarant_name"
                             maxlength="128" name="restuarant_name" id="text" >
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="col-lg-10 mt-3">
                        <div class="input-group form-control-lg p-0">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">email</i>
                            </span>
                          </div>
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Email" formControlName="email" type="email" maxlength="128"
                              id="exampleemalil" name="email">
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="col-lg-10 mt-4">
                        <div class="">
                          <div class="row">
                            <div class="input-group form-control-lg  col-1 pr-0">
                              <div class="input-group-prepend">
                                <span class="input-group-text">
                                  <i class="material-icons">add_ic_call</i>
                                </span>
                              </div>
                            </div>
                            <div class="col-2 pl-0">
                              <mat-form-field style="top: auto;">
                                <!-- <mat-label>Favorite animal</mat-label> -->
                                <mat-select formControlName="mob_code">
                                  <mat-option [value]="item.code" *ngFor="let item of countryCode">{{item.code}}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                            </div>
                            <div class="col-9 p-0">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="Mobile number" formControlName="mob_number" maxlength="16"
                                  type="text" onlyDigits name="mob_number" name="mob_number" id="text">
                              </mat-form-field>
                            </div>

                          </div>

                        </div>
                      </div>
                      <div class="col-lg-10 mt-3">
                        <div class="">
                          <div class="row">
                            <div class="input-group form-control-lg col-1 pr-0">
                              <div class="input-group-prepend">
                                <span class="input-group-text">
                                  <!-- <i class="material-icons">add_ic_call</i> -->
                                  <i style=" background-image: url('../../../assets/img/whatsapp_icon.svg');
                                height: 20px;
                                width: 20px;
                                background-size: cover;"></i>
                                </span>
                              </div>
                            </div>
                            <div class="col-2 pl-0">
                              <mat-form-field style="    top: auto;">
                                <!-- <mat-label>Favorite animal</mat-label> -->
                                <mat-select formControlName="whatCode">
                                  <mat-option [value]="item.code" *ngFor="let item of countryCode">{{item.code}}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                            </div>
                            <div class="col-9 p-0">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="Whatsapp number" formControlName="what_number" maxlength="16"
                                  type="text" onlyDigits name="what_number" id="text">
                              </mat-form-field>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-10 mt-n1">
                        <div class="input-group form-control-lg p-0">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">attach_money</i>
                            </span>
                          </div>
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Service Tax (%)" formControlName="service_tax" maxlength="150" Decimal name="service_tax" id="text">
                          </mat-form-field>
                        </div>
                      </div>


                      <div class="col-lg-10 mt-3">
                        <div class="input-group form-control-lg p-0">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">import_export</i>
                            </span>
                          </div>
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Order Range in Kilometers" formControlName="order_range" maxlength="150" Decimal name="service_tax" id="text">
                            <i  matTooltip="Restaruant can accept online orders 
                            within given Km of range,Pick orders can be placed from anywhere" 
                                  [matTooltipPosition]="'right'" style="color: #2163ba;
                                  text-align: center;
                                  position: absolute;
                                  right: 1px;
                                  top: 10px;
                                  height: 27px;
                                  width: 27px;
                                  border-radius: 50%;
                                  cursor: pointer;">?</i>
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="col-lg-10 mt-4">
                        <div class="row p-0 m-0">
                          <div class="col-5 offset-1">
                            <div class="togglebutton" >
                              <label style="font-weight: 800;color: black;">
                                Is Home Delivery Available
                                <input type="checkbox" checked="isHomeDeliveryAvailable" (click)="isHomeDelivery()">
                                <span class="toggle"></span>
                               
                              </label>
                            </div>
                          </div>
                          <div class="col-5">
                            <div class="togglebutton" >
                              <label style="font-weight: 800; color: black;">
                                Is Pick Up Available
                                <input type="checkbox" checked="isPickUpAvailable" (click)="pickupAvailable()">
                                <span class="toggle"></span>
                          
                              </label>
                            </div>
                          </div>
                        </div>
                        
                      </div>
                      

                      <div class="col-lg-10 mt-3">
                        <div class="input-group form-control-lg p-0">
                          <!-- <div class="input-group-prepend">
                            <span class="input-group-text"> -->
                              <i style=" background-image: url('../../../assets/img/verified-icon.svg');
                          height: 20px;
                          width: 20px;
                          background-size: cover;margin: 6px 18px;"></i>
                            <!-- </span>
                          </div> -->
                          <!-- <span class="input-group-text"> -->
                          <p style="font-weight: 600;">COVID-19 safety level : </p>
                          
                          <!-- </span> -->
                        </div>
                        <div class="mx-5">
                          <mat-radio-group aria-label="Select an option" class="" formControlName="covid_safety" >
                            <mat-radio-button value="LOW" class="mx-1">LOW</mat-radio-button>
                            <mat-radio-button value="MEDIUM" class="mx-1">MEDIUM</mat-radio-button>
                            <mat-radio-button value="HIGH" class="mx-1">HIGH</mat-radio-button>
                          </mat-radio-group>
                        </div>
                      </div>

                    </div>
                  </div>
                  <div class="tab-pane" id="address">
                    <h5 class="info-text"> Please enter your current address </h5>

                    <div class="row justify-content-center">
                      <!-- <div class=""> -->
                        <a class="text-primary cursor-pointer" (click)="openMap(map)">Locate on Map</a>
                      <!-- </div> -->
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <div class="input-group form-control-lg">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">home</i>
                            </span>
                          </div>
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="appartment number/ flat number"
                              formControlName="premise" type="text" maxlength="256" name="premise" id="text">
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <div class="input-group form-control-lg">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">home</i>
                            </span>
                          </div>
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Street address" formControlName="street" type="text" maxlength="256" name="street" id="text">
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-6 col-12">
                        <div class="input-group form-control-lg">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">home</i>
                            </span>
                          </div>
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="locality" formControlName="locality" type="text" maxlength="256" name="locality" id="text">
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="col-lg-6 col-12">
                        <div class="input-group form-control-lg">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">home</i>
                            </span>
                          </div>
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Country/district" formControlName="sub_administrative" maxlength="256"
                              type="text" name="sub_administrative" id="text">
                          </mat-form-field>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-lg-6 col-12">
                        <div class="input-group form-control-lg">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">home</i>
                            </span>
                          </div>
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="State/province" formControlName="administrative"
                              type="text" maxlength="256" name="administrative" id="text">
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="col-lg-6 col-12">
                        <div class="input-group form-control-lg">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">local_post_office</i>
                            </span>
                          </div>
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Postal Code" formControlName="postal_code" type="text" maxlength="32" onlyDigits name="postal_code" id="text">
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="col-lg-6 col-12">
                        <div class="input-group form-control-lg">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">my_location</i>
                            </span>
                          </div>
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Landmark" formControlName="landmark" type="text" maxlength="256" name="landmark" id="text">
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="col-lg-6 col-12 mt-1">
                        <div class="input-group form-control-lg">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">flag</i>
                            </span>
                          </div>
                          <mat-form-field>
                            <mat-label>Country</mat-label>
                            <mat-select formControlName="countryName">
                              <mat-option [value]="item.countryName" *ngFor="let item of countryList">
                                <!-- <img [src]="item.countryFlagImageUrl" height="10px" width="15px" style="display: block;"/> -->
                                {{item.countryName}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-6 col-12">
                        <div class="input-group form-control-lg">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">my_location</i>
                            </span>
                          </div>
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Longitude" formControlName="longitude" Decimal maxlength="64" name="administrative" id="text">
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="col-lg-6 col-12">
                        <div class="input-group form-control-lg">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">my_location</i>
                            </span>
                          </div>
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Latitude" formControlName="latitude" Decimal maxlength="64" name="administrative" id="text">
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                    <!-- <div class="row py-3">
                      <div class="col-12 d-flex justify-content-left px-5">
                        <p style="font-weight: 600;">Adress type : </p>
                        <mat-radio-group aria-label="Select an option" formControlName="addressType">
                          <mat-radio-button value="HOME" class="mx-1">Home</mat-radio-button>
                          <mat-radio-button value="WORK" class="mx-1">Work</mat-radio-button>
                          <mat-radio-button value="OTHER" class="mx-1">Other</mat-radio-button>
                        </mat-radio-group>
                      </div>
                    </div> -->
                    
                  
                    <!-- <app-map>loading</app-map> -->
                    <!-- <app-map>loading</app-map> -->
                  </div>
                  <div class="tab-pane" id="payment">
                    <div class="row justify-content-center">
                      <!-- <h5 class="info-text m-0 mx-3"></h5> -->
                      <h5 class="info-text"> Payout Method</h5>
                    </div>
                    <div class="row py-3">
                      <div class="col-8 d-flex justify-content-left"> 
                        <mat-radio-group formControlName="payment_method" aria-label="Select an option">
                          <mat-radio-button value="Paypal" class="mx-1" (click)="selectedPayment('Paypal')">Paypal
                          </mat-radio-button>
                          <mat-radio-button value="bank_account" class="mx-1" (click)="selectedPayment('bank_account')">
                            Bank Account</mat-radio-button>
                        </mat-radio-group>
                      </div>
                      <!-- <div class="col-4">
                        <div class="mr-auto">
                          <input type="button" (click)="AddmoreBank()" (click)="addPaypal()" class="btn btn-fill btn-primary btn-round"
                            name="Add Payout Method" value="Add Payout Method">
                        </div>
                      </div> -->
                    </div>
                    <div formArrayName="bank_account_details">
                      <div *ngFor="let item of type.controls.bank_account_details['controls']; let i=index">
                        <div [formGroupName]="i">
                    <div style="border: solid 1px;border-radius: 10px;" *ngIf="paymentMethod == 'Paypal'">
                      <div class="d-flex justify-content-left">
                        <div class="mt-5 mx-4">
                          <h5 class="info-text m-0"> Paypal payout method details </h5>
                        </div>

                      </div>
                      <div class="col-lg-10">
                        <div class="input-group form-control-lg">

                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Paypal email id" [formControl]="emailFormControl"
                              formControlName="emailAddress" type="email" maxlength="150">
                          </mat-form-field>
                        </div>
                      </div>
                      <!-- <mat-checkbox > -->
                      <div class="mt-3 mx-2">
                        <mat-checkbox formControlName="primaryMethod" value="Mark" class="mx-1" [(ngModel)] = "check">Mark as primary
                          method</mat-checkbox>
                      </div>
                      <!-- </mat-checkbox> -->

                    </div>
                    </div>
                    </div>
                    </div>

                    <div formArrayName="bank_account_details">
                      <div *ngFor="let item of type.controls.bank_account_details['controls']; let i=index">
                        <div [formGroupName]="i">
                          <div style="border: solid 1px;border-radius: 10px;" class="mt-4"
                            *ngIf="paymentMethod == 'bank_account'">
                            <div class="d-flex justify-content-left">
                              <div class="mt-3 mx-4">
                                <h5 class="info-text m-0"> Bank Account Details </h5>
                              </div>

                            </div>
                            <div class="row">
                              <!-- <div class="col-12">  -->
                              <div class="col-12 col-lg-6">
                                <div class="input-group form-control-lg">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">
                                      <!-- <i class="material-icons">home</i> -->
                                    </span>
                                  </div>
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Account holder name"
                                      formControlName="accountHolderName" type="text" maxlength="150">
                                  </mat-form-field>
                                  <i  matTooltip="Exact name of account owner/holder on their bank account" 
                                  [matTooltipPosition]="'right'" style="color: #2163ba;
                                  text-align: center;
                                  position: relative;
                                  top: 10px;
                                  left: -30px;
                                  height: 27px;
                                  width: 27px;
                                  border-radius: 50%;
                                  cursor: pointer;">?</i>
                                </div>
                                <!-- </div> -->
                              </div>

                              <!-- <div class="row"> -->
                              <div class="col-12 col-lg-6">
                                <div class="input-group form-control-lg">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">
                                      <!-- <i class="material-icons">home</i> -->
                                    </span>
                                  </div>
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Account number"
                                      formControlName="accountNum" type="text" maxlength="150" onlyDigits>
                                  </mat-form-field>
                                  <i  matTooltip="Bank account number, includes Mexico CLABE, Argentina CBU. Does not include IBAN" 
                                  [matTooltipPosition]="'right'" style="color: #2163ba;
                                  text-align: center;
                                  position: relative;
                                  top: 10px;
                                  left: -30px;
                                  height: 27px;
                                  width: 27px;
                                  border-radius: 50%;
                                  cursor: pointer;">?</i>
                                </div>
                              </div>
                              <!-- </div> -->
                            </div>
                            <div class="row">
                              <div class="col-12 col-lg-6">
                                <div class="input-group form-control-lg">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">
                                      <!-- <i class="material-icons">home</i> -->
                                    </span>
                                  </div>
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Bank id" formControlName="bankId" type="text" maxlength="150">
                                  </mat-form-field>
                                  <i  matTooltip="Bank ID, only required in Canada (Institution Code)" 
                                  [matTooltipPosition]="'right'" style="color: #2163ba;
                                  text-align: center;
                                  position: relative;
                                  top: 10px;
                                  left: -30px;
                                  height: 27px;
                                  width: 27px;
                                  border-radius: 50%;
                                  cursor: pointer;">?</i>
                                </div>
                              </div>

                              <!-- <div class="row"> -->
                              <div class="col-12 col-lg-6">
                                <div class="input-group form-control-lg">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">
                                      <!-- <i class="material-icons">home</i> -->
                                    </span>
                                  </div>
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Branch id" formControlName="branchId" type="text" maxlength="150">
                                  </mat-form-field>
                                  <i  matTooltip="Bank’s branch number, only required in US (Routing Number), Australia (BSB), UK (Sort Code),
                                   Canada (Transit Number), India (IFSC Code)" 
                                  [matTooltipPosition]="'right'" style="color: #2163ba;
                                  text-align: center;
                                  position: relative;
                                  top: 10px;
                                  left: -30px;
                                  height: 27px;
                                  width: 27px;
                                  border-radius: 50%;
                                  cursor: pointer;">?</i>
                                </div>
                              </div>
                              <!-- </div> -->
                            </div>
                            <div class="row">
                              <div class="col-12 col-lg-6">
                                <div class="input-group form-control-lg">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">
                                      <!-- <i class="material-icons">home</i> -->
                                    </span>
                                  </div>
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="iban" formControlName="iban" type="text" maxlength="150">
                                  </mat-form-field>
                                  <i  matTooltip=" IBAN international bank account number, required for IBAN countries" 
                                  [matTooltipPosition]="'right'" style="color: #2163ba;
                                  text-align: center;
                                  position: relative;
                                  top: 10px;
                                  left: -30px;
                                  height: 27px;
                                  width: 27px;
                                  border-radius: 50%;
                                  cursor: pointer;">?</i>
                                </div>
                              </div>

                         
                              <div class="col-12 col-lg-6">
                                <div class="input-group form-control-lg">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">
                                    </span>
                                  </div>
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="recipent id" formControlName="receiptId" type="text" maxlength="150">
                                  </mat-form-field>
                                  <i  matTooltip="Exact name of account owner/holder on their bank account" 
                                  [matTooltipPosition]="'right'" style="color: #2163ba;
                                  text-align: center;
                                  position: relative;
                                  top: 10px;
                                  left: -30px;
                                  height: 27px;
                                  width: 27px;
                                  border-radius: 50%;
                                  cursor: pointer;">?</i>
                                </div>
                              </div>
                              </div>
                            
                            <div class="row">
                              <div class="col-12 col-lg-6">
                                <div class="input-group form-control-lg">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">
                                      <!-- <i class="material-icons">home</i> -->
                                    </span>
                                  </div>
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="swift-bic" formControlName="swiftBic" type="text" maxlength="150">
                                  </mat-form-field>
                                  <i  matTooltip="SWIFT-BIC bank code, required for SWIFT countries (8 or 11 characters)" 
                                  [matTooltipPosition]="'right'" style="color: #2163ba;
                                  text-align: center;
                                  position: relative;
                                  top: 10px;
                                  left: -30px;
                                  height: 27px;
                                  width: 27px;
                                  border-radius: 50%;
                                  cursor: pointer;">?</i>
                                </div>
                              </div>

                              <!-- <div class="row"> -->
                              <div class="col-12 col-lg-6">
                                <div class="input-group form-control-lg">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">
                                      <!-- <i class="material-icons">home</i> -->
                                    </span>
                                  </div>
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="country" formControlName="country" type="text" maxlength="150">
                                  </mat-form-field>
                                  <!-- <mat-select formControlName="mobile_code">
                                    <mat-option [value]="item.code" *ngFor="let item of countryCode">{{item.code}}
                                    </mat-option>
                                  </mat-select> -->
                                  <i  matTooltip="ISO ALPHA-2 country codes (ie: ‘US’)" 
                                  [matTooltipPosition]="'right'" style="color: #2163ba;
                                  text-align: center;
                                  position: relative;
                                  top: 10px;
                                  left: -30px;
                                  height: 27px;
                                  width: 27px;
                                  border-radius: 50%;
                                  cursor: pointer;">?</i>
                                <!-- </div> -->
                                </div>
                              </div>
                              <!-- </div> -->
                            </div>
                            <div class="row">
                              <div class="col-12 col-lg-6">
                                <div class="input-group form-control-lg">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">
                                      <!-- <i class="material-icons">home</i> -->
                                    </span>
                                  </div>
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="currency" formControlName="currencyCode" type="text" maxlength="150"onlyDigits>
                                  </mat-form-field>
                                  <i  matTooltip="ISO3 currency code (ie: ‘USD’)" 
                                  [matTooltipPosition]="'right'" style="color: #2163ba;
                                  text-align: center;
                                  position: relative;
                                  top: 10px;
                                  left: -30px;
                                  height: 27px;
                                  width: 27px;
                                  border-radius: 50%;
                                  cursor: pointer;">?</i>
                                <!-- </div> -->
                                </div>
                              </div>
                            </div>
                            <div class="mt-3 mx-3">
                              <mat-checkbox value="Mark" formControlName="primaryMethod" class="mx-1 ">Mark as primary method</mat-checkbox>
                              <!-- <i  matTooltip="Set recipient account(payout method) as primary (active)" 
                                  [matTooltipPosition]="'right'" style="color: #2163ba;
                                  text-align: center;
                                  position: relative;
                                  top: 10px;
                                  left: -30px;
                                  height: 27px;
                                  width: 27px;
                                  border-radius: 50%;
                                  cursor: pointer;">?</i> -->
                            </div>
                            <div class="row justify-content-center" *ngIf="i > 0">
                              <!-- <span class="remove-icon"></span> -->
                              <p style="color: blue;cursor: pointer;" (click)="removeBank(i); ">Remove</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane" id="timing">
                    <h5 class="info-text m-0 my-3">Restaurant Timing</h5>
                    <div class="row">
                      <div class="col-2">
                        <p>Monday</p>
                      </div>
                      <div class="col-2">
                        <div class="ngx-timepicker-field-example  d-flex justify-content-left">
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Open" [(ngModel)]="mondayOpen"
                            [disabled]="isAlwaysOpenMon" [format]=24 [ngxTimepicker]="mon" formControlName="mon">
                            <ngx-material-timepicker #mon [enableKeyboardInput]=true></ngx-material-timepicker>
                          </mat-form-field>
                          <span class="time-icon"></span>
                          <!-- <ngx-timepicker-field [format]="24" [defaultTime]="'01:00'"></ngx-timepicker-field> -->
                        </div>
                      </div>
                      <div class="col-2">
                        <div class="ngx-timepicker-field-example  d-flex justify-content-left">
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Close" [(ngModel)]="mondayClose"
                            [disabled]="isAlwaysOpenMon"  [format]=24  [ngxTimepicker]="monc" formControlName="monc">
                            <ngx-material-timepicker #monc [enableKeyboardInput]=true></ngx-material-timepicker>
                          </mat-form-field>
                          <span class="time-icon"></span>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="togglebutton">
                          <label>
                            <input type="checkbox" [checked]="isAlwaysOpenMon" (click)="monOpen()">
                            <span class="toggle"></span>
                            Is 24 hours open
                          </label>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="togglebutton">
                          <label>
                            <input type="checkbox" [checked]="isAlwayCloseMon" (click)="monClose()">
                            <span class="toggle"></span>
                            Is 24 hours closed
                          </label>
                        </div>
                      </div>
                    </div>
                    <mat-divider></mat-divider>
                    <div class="row">
                      <div class="col-2">
                        <p>Tuesday</p>
                      </div>
                      <div class="col-2">
                        <div class="ngx-timepicker-field-example  d-flex justify-content-left">
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Open"  [(ngModel)]="YuesdayOpen"
                            [disabled]="isAlwaysOpentue" [format]=24  [ngxTimepicker]="tue"  formControlName="tue">
                            <ngx-material-timepicker #tue [enableKeyboardInput]=true></ngx-material-timepicker>
                          </mat-form-field>
                          <span class="time-icon"></span>
                        </div>
                      </div>
                      <div class="col-2">
                        <div class="ngx-timepicker-field-example  d-flex justify-content-left">
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Close" [(ngModel)]="YuesdayClose"
                            [disabled]="isAlwaysOpentue" [format]=24  [ngxTimepicker]="tuec"  formControlName="tuec">
                            <ngx-material-timepicker #tuec [enableKeyboardInput]=true></ngx-material-timepicker>
                          </mat-form-field>
                          <span class="time-icon"></span>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="togglebutton">
                          <label>
                            <input type="checkbox" [checked]="isAlwaysOpentue"  (click)="tueOpen()">
                            <span class="toggle"></span>
                            Is 24 hours open
                          </label>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="togglebutton">
                          <label>
                            <input type="checkbox"  [checked]="isAlwayClosetue" (click)="tueClose()">
                            <span class="toggle"></span>
                            Is 24 hours closed
                          </label>
                        </div>
                      </div>
                    </div>
                    <mat-divider></mat-divider>
                    <div class="row">
                      <div class="col-2">
                        <p>Wednesday</p>
                      </div>
                      <div class="col-2">
                        <div class="ngx-timepicker-field-example  d-flex justify-content-left">
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Open" [(ngModel)]="wednesdayOpen"
                            [disabled]="isAlwaysOpenwed" [format]=24  [ngxTimepicker]="wed"  formControlName="wed">
                            <ngx-material-timepicker #wed [enableKeyboardInput]=true></ngx-material-timepicker>
                          </mat-form-field>
                          <span class="time-icon"></span>
                        </div>
                      </div>
                      <div class="col-2">
                        <div class="ngx-timepicker-field-example  d-flex justify-content-left">
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Close" [(ngModel)]="wednesdayClose"
                            [disabled]="isAlwaysOpenwed" [format]=24  [ngxTimepicker]="wedc"  formControlName="wedc">
                            <ngx-material-timepicker #wedc [enableKeyboardInput]=true></ngx-material-timepicker>
                          </mat-form-field>
                          <span class="time-icon"></span>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="togglebutton">
                          <label>
                            <input type="checkbox"  [checked]="isAlwaysOpenwed" (click)="wedOpen()">
                            <span class="toggle"></span>
                            Is 24 hours open
                          </label>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="togglebutton">
                          <label>
                            <input type="checkbox"  [checked]="isAlwayClosewed" (click)="wedclose()">
                            <span class="toggle"></span>
                            Is 24 hours closed
                          </label>
                        </div>
                      </div>
                    </div>
                    <mat-divider></mat-divider>
                    <div class="row">
                      <div class="col-2">
                        <p>Thursday</p>
                      </div>
                      <div class="col-2">
                        <div class="ngx-timepicker-field-example  d-flex justify-content-left">
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Open" [(ngModel)]="thursdayOpen"
                            [disabled]="isAlwaysOpenthu" [format]=24  [ngxTimepicker]="thu"  formControlName="thu">
                            <ngx-material-timepicker #thu [enableKeyboardInput]=true></ngx-material-timepicker>
                          </mat-form-field>
                          <span class="time-icon"></span>
                        </div>
                      </div>
                      <div class="col-2">
                        <div class="ngx-timepicker-field-example  d-flex justify-content-left">
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Close" [(ngModel)]="thursdayClose"
                            [disabled]="isAlwaysOpenthu" [format]=24  [ngxTimepicker]="thuc"  formControlName="thuc">
                            <ngx-material-timepicker #thuc [enableKeyboardInput]=true></ngx-material-timepicker>
                          </mat-form-field>
                          <span class="time-icon"></span>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="togglebutton">
                          <label>
                            <input type="checkbox"  [checked]="isAlwaysOpenthu" (click)="thuOpen()">
                            <span class="toggle"></span>
                            Is 24 hours open
                          </label>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="togglebutton">
                          <label>
                            <input type="checkbox"  [checked]="isAlwayClosethu" (click)="thuclose()">
                            <span class="toggle"></span>
                            Is 24 hours closed
                          </label>
                        </div>
                      </div>
                    </div>
                    <mat-divider></mat-divider>
                    <div class="row">
                      <div class="col-2">
                        <p>Friday</p>
                      </div>
                      <div class="col-2">
                        <div class="ngx-timepicker-field-example  d-flex justify-content-left">
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Open" [(ngModel)]="fridayOpen"
                            [disabled]="isAlwaysOpenfri" [format]=24  [ngxTimepicker]="fri"  formControlName="fri">
                            <ngx-material-timepicker #fri [enableKeyboardInput]=true></ngx-material-timepicker>
                          </mat-form-field>
                          <span class="time-icon"></span>
                        </div>
                      </div>
                      <div class="col-2">
                        <div class="ngx-timepicker-field-example  d-flex justify-content-left">
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Close" [(ngModel)]="fridayClose"
                            [disabled]="isAlwaysOpenfri" [format]=24  [ngxTimepicker]="fric"  formControlName="fric">
                            <ngx-material-timepicker #fric [enableKeyboardInput]=true></ngx-material-timepicker>
                          </mat-form-field>
                          <span class="time-icon"></span>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="togglebutton">
                          <label>
                            <input type="checkbox"  [checked]="isAlwaysOpenfri" (click)="friOpen()">
                            <span class="toggle"></span>
                            Is 24 hours open
                          </label>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="togglebutton">
                          <label>
                            <input type="checkbox"  [checked]="isAlwayClosefri" (click)="friclose()" >
                            <span class="toggle"></span>
                            Is 24 hours closed
                          </label>
                        </div>
                      </div>
                    </div>
                    <mat-divider></mat-divider>
                    <div class="row">
                      <div class="col-2">
                        <p>Saturday</p>
                      </div>
                      <div class="col-2">
                        <div class="ngx-timepicker-field-example d-flex justify-content-left">
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Open" [(ngModel)]="saturdayOpen"
                            [disabled]="isAlwaysOpensat" [format]=24  [ngxTimepicker]="sat"  formControlName="sat">
                            <ngx-material-timepicker #sat [enableKeyboardInput]=true></ngx-material-timepicker>
                          </mat-form-field>
                          <span class="time-icon"></span>
                        </div>
                      </div>
                      <div class="col-2">
                        <div class="ngx-timepicker-field-example d-flex justify-content-left">
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Close" [(ngModel)]="saturdayClose"
                             [disabled]="isAlwaysOpensat" [format]=24  [ngxTimepicker]="satc"  formControlName="satc">
                            <ngx-material-timepicker #satc [enableKeyboardInput]=true></ngx-material-timepicker>
                          </mat-form-field>
                          <span class="time-icon"></span>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="togglebutton">
                          <label>
                            <input type="checkbox"  [checked]="isAlwaysOpensat" (click)="satOpen()">
                            <span class="toggle"></span>
                            Is 24 hours open
                          </label>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="togglebutton">
                          <label>
                            <input type="checkbox"  [checked]="isAlwayClosesat" (click)="satclose()">
                            <span class="toggle"></span>
                            Is 24 hours closed
                          </label>
                        </div>
                      </div>
                    </div>
                    <mat-divider></mat-divider>
                    <div class="row">
                      <div class="col-2">
                        <p>Sunday</p>
                      </div>
                      <div class="col-2">
                        <div class="ngx-timepicker-field-example  d-flex justify-content-left">
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Open" [(ngModel)]="sundayOpen"
                            [disabled]="isAlwaysOpensun" [format]=24  [ngxTimepicker]="sun" formControlName="sun">
                            <ngx-material-timepicker #sun [enableKeyboardInput]=true></ngx-material-timepicker>
                          </mat-form-field>
                          <span class="time-icon"></span>
                        </div>
                      </div>
                      <div class="col-2">
                        <div class="ngx-timepicker-field-example  d-flex justify-content-left">
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Close" [(ngModel)]="sundayClose"
                            [disabled]="isAlwaysOpensun" [format]=24  [ngxTimepicker]="sunc" formControlName="sunc">
                            <ngx-material-timepicker #sunc [enableKeyboardInput]=true></ngx-material-timepicker>
                          </mat-form-field>
                          <span class="time-icon"></span>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="togglebutton">
                          <label>
                            <input type="checkbox"  [checked]="isAlwaysOpensun" (click)="sunOpen()">
                            <span class="toggle"></span>
                            Is 24 hours open
                          </label>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="togglebutton">
                          <label>
                            <input type="checkbox"  [checked]="isAlwayClosesun" (click)="sunclose()">
                            <span class="toggle"></span>
                            Is 24 hours closed
                          </label>
                        </div>
                      </div>
                      <!-- <div class="col-3">
                      <mat-slide-toggle>Is 24 hours open</mat-slide-toggle>
                    </div> -->
                    </div>
                  </div>
                  <div class="tab-pane" id="document">
                    <div class="row justify-content-center">
                      <div class="col-sm-12">
                        <h5 class="info-text"> Submit your valid Documents </h5>
                      </div>
                    </div>
                      <div class="row justify-content-left">
                        <div class="col-12 col-lg-4">
                          <div class="picture-container">
                            <div class="picture-square"> 
                            <input type="file" id="wizard-picture" style="display: none;">
                            <img [src]="idProofUrl" onerror="this.onerror=null;this.src='../../../assets/img/image_placeholder.jpg'" class="picture-src" id="wizardPicturePreview" title="" width="200px;"
                            height="120px;"/>
                            <input type="file"  #Proof (change)="idProofUpload($event)" id="wizard-picture"  >
                            </div>
                          </div>
                          <div class=" d-flex justify-content-center">
                            <div class="form-group " >
                              <button mat-raised-button class="btn btn-primary btn-round background-color-primary" (click)="Proof.click()">Upload ID Proof</button>
                            </div>
                          </div>
                          <div *ngIf="idproofProgress | async as val" class="d-flex justify-content-center">
                            <progress type="warning"  [value]="val" style="height: 3mm; width: 200px" max="100" ></progress>
                            <br />
                            </div>
                            <div *ngIf="idproofProgress | async as val" class="d-flex justify-content-center">
                                <span *ngIf="val<100" style="font-size: 16px;">{{ val | number}}% </span><span *ngIf="val == 100" style="color:rgb(1, 153, 34);  font-size: 16px">Completed !</span>
                            </div>
                        </div>
                        <div class="col-12 col-lg-8 py-4">
                          <mat-form-field class="example-full-width" >
                            <textarea matInput placeholder="Leave a comment" formControlName="idProofDescription" maxlength="150"></textarea>
                           </mat-form-field> 
                        </div>                   
                      </div>
                      <mat-divider class="my-2"></mat-divider>
                        <div class="row justify-content-left">
                          <div class="col-12 col-lg-4">
                            <div class="picture-container">
                              <div class="picture-square">
                                <img [src]="addressUrl" onerror="this.onerror=null;this.src='../../../assets/img/image_placeholder.jpg'" class="picture-src" id="wizardPicturePreview" title="" width="200px;"
                                height="120px;"/>
                                <input type="file"  #Address (change)="addressUpload($event)" id="wizard-picture"  >
                              </div>
                              <!-- <h6 class="description">Choose Picture</h6> -->
                            </div>
                            <div class=" d-flex justify-content-center">
                              <div class="form-group " >
                                <button mat-raised-button class=" btn btn-primary btn-round background-color-primary" (click)="Address.click()">Upload Address Proof</button>
                              </div>
                             
                            </div>
                            <div *ngIf="addressProgress | async as val" class="d-flex justify-content-center">
                              <progress type="warning"  [value]="val" style="height: 3mm; width: 200px" max="100" ></progress>
                              <br />
                              </div>
                              <div *ngIf="addressProgress | async as val" class="d-flex justify-content-center">
                                  <span *ngIf="val<100" style="font-size: 16px;">{{ val | number}}% </span><span *ngIf="val == 100" style="color:rgb(1, 153, 34);  font-size: 16px">Completed !</span>
                              </div>
                          </div>
                          <div class="col-12 col-lg-8 py-4">
                            <mat-form-field class="example-full-width" >
                              <textarea matInput placeholder="Leave a comment" formControlName="addProofDescription"  maxlength="150"></textarea>
                             </mat-form-field> 
                          </div>
                        </div>
                        <mat-divider class="my-2"></mat-divider>
                        <div class="row justify-content-left">
                          <div class="col-12 col-lg-4">
                            <div class="picture-container">
                              <div class="picture-square">
                                <img [src]="otherUrl" onerror="this.onerror=null;this.src='../../../assets/img/image_placeholder.jpg'" class="picture-src" id="wizardPicturePreview" title="" width="200px;"
                                height="120px;" />
                                <input type="file"  #other (change)="otherUpload($event)" id="wizard-picture"  >
                              </div>
                            </div>
                            <div class=" d-flex justify-content-center">
                              <div class="form-group " >
                                <button mat-raised-button class=" btn btn-primary btn-round background-color-primary" (click)="other.click()">Upload other Document</button>
                              </div>
                              
                            </div>
                            <div *ngIf="otherProgress | async as val" class="d-flex justify-content-center">
                              <progress type="warning"  [value]="val" style="height: 3mm; width: 200px" max="100" ></progress>
                              <br />
                              </div>
                              <div *ngIf="otherProgress | async as val" class="d-flex justify-content-center">
                                  <span *ngIf="val<100" style="font-size: 16px;">{{ val | number}}% </span><span *ngIf="val == 100" style="color:rgb(1, 153, 34);  font-size: 16px">Completed !</span>
                              </div>
                          </div>
                          <div class="col-12 col-lg-8 py-4">
                            <mat-form-field class="example-full-width" >
                              <textarea matInput placeholder="Leave a comment" formControlName="otherDescription" maxlength="150"></textarea>
                             </mat-form-field> 
                          </div>
                        </div>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <div class="mr-auto">
                  <input type="button" class="btn btn-previous btn-fill btn-default btn-wd disabled" name="previous"
                    value="Previous">
                </div>
                <div class="ml-auto">
                  <input type="button" class="btn btn-next btn-fill btn-primary btn-wd" name="next" value="Next">
                  <input type="button" class="btn btn-finish btn-fill btn-primary btn-wd" name="finish" value="Finish"
                  (click)="createRestaurant()"  style="display: none;">
                </div>
                <div class="clearfix"></div>
              </div>
            </form>
          </div>
        </div>
        <!-- wizard container -->
      </div>
    </div>
  </div>
</div>



<ng-template #map let-modal>
  <div class="popupModal">
    <!-- model header -->
    <div class="modal-header p-2">
      <!-- <p class="modal-title" id="modal-basic-title">Details</p> -->
      <span class="close-icon mt-2" aria-hidden="true" ngbAutofocus (click)="modal.dismiss('Cross click')"></span>
    </div>
  </div>
  <!-- model body -->
  <div class="popupBody my-3 mx-2">
    <app-map [submit]="mapSubmitted" (location)="mapLocation($event)">loading</app-map>
    <div class="d-flex justify-content-end">
      <button type="button" (click)="submitMapLoaction();" class="btn btn-fill btn-primary">Submit</button>
    </div>
  </div>
</ng-template>
