
.first-box {
    border: 1px solid;
    border-color: black;
    width: 100%;
    /* height: 400px; */
    border-radius: 5px;
}

.second-box {
    border: 1px solid;
    border-color: black;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}