<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary card-header-icon">
            <div class="card-icon">
              <i class="material-icons">present_to_all</i>
            </div>
            <h4 class="card-title">Promo Code</h4>
          </div>
          <div class="card-body">
            <div class="row justify-content-end">
              <button type="button" class="btn btn-fill btn-primary" (click)="createPromoCode()">Create Promo Code +</button>
            </div>
          <form [formGroup]="listForm">
              <div class="row ">
                <div class="col-lg-8 col-md-8 col-sm-4">
                  <mat-form-field fxFlex="50%">
                      <input class="typeahead-basic" matInput [resultFormatter]="formatterConstitution"
                      [inputFormatter]="formatterConstitution" placeholder="Select Restaurant Name" 
                      (focus)="focusConstitution$.next($event.target.value)" (selectItem)="selectedRestaurantId($event)"
                      (click)="clickContitution$.next($event.target.value)" formControlName="restaurant_Id"
                      [ngbTypeahead]="searchConstituon"/>
                  </mat-form-field>
                </div>
                <div class="col-lg-4 col-md-8 col-sm-4">
                  <mat-form-field fxFlex="50%">
                    <input matInput type="text" (keyup)="searchCategory()" placeholder="Search by Promo Code Name" formControlName="Promo_code_Search" [(ngModel)]="typeCategory">
                  </mat-form-field>
                </div>
              </div>
          </form>
          <div class="box first-box p-0 m-0">
            <div class="row p-0 m-0" *ngIf="dataSource.data.length > 0">
              <div class=" col-lg-6 my-3" *ngFor="let item of dataSource.data">
                <div class="stitched ">
                    <div class="row p-0 m-0">
                      <div class="col-3 py-5 blue-patch">
                        <p class="d-flex justify-content-center mt-5 ">{{item.discount}}%</p>
                      </div>
                      <div class="col-5">
                        
                        <h1>{{item.name}}</h1>
                        <p class="description">{{item.description}}</p>
                        <div class="">
                          <p style="padding:2px; border: 1px solid white;color:white; background: #4caf50;border-radius: 5px;">
                            Validity till {{item.validityDate | date: 'dd MMM yyyy'}}
                          </p>

                          <p style="padding:2px; border: 1px solid white;color:white; background: #032e91;border-radius: 5px;">
                            Maximum discount Value {{item.maximumDiscountValue}}
                          </p>
                            
                        </div>
                      </div>
                      <div class="col-4 p-0">
                        <div class="row my-2">
                          <span class="material-icons">restaurant_menu</span>
                          <h3>{{restaurantName}}</h3>
                          <span class="material-icons two mb-4 ml-1" (click)="edit(item)">edit</span>
                        </div>
                        <div class="px-2">
                            <p>Minimum cart value</p>
                            <p style="padding:2px; border: 1px solid white; background: darkkhaki;border-radius: 5px;">
                              <span class="material-icons">
                                shopping_cart
                                </span>
                              <span style="margin: 0px 30px;">
                                {{item.minimumCartValue}}
                              </span>
                            </p>
                        </div>
                        <div class="px-2">
                            <p>Maximum usage count per use</p>
                            <p style="padding:2px; border: 1px solid white; background: darkkhaki;border-radius: 5px;">
                              <span class="material-icons">
                                data_usage
                              </span>
                              <span style="margin: 0px 30px;">
                                {{item.maximumUsageCountPerUser}}
                              </span>
                            </p>
                        </div>
                    </div>
                  </div> 
                </div>
              </div>
            </div>
            <div class="row justify-content-end mx-3" *ngIf="dataSource.data.length > 0">
              <mat-paginator [length]="pageLength" [pageSize]="size" [pageSizeOptions]="[6]" 
                (page)="pageEvent = $event; onPaginate($event)"
                showFirstLastButtons>
              </mat-paginator>
            </div>
            <div class="row justify-content-center py-2" *ngIf="dataSource.data.length <= 0 && ! showLoader ">
              <h4 class="description">No Promo Code Available.!</h4>
            </div>
            <div class="row justify-content-center py-2" *ngIf="restaurantId==undefined">
              <h4 class="description">Please Select Restaurant!</h4>
          </div>

            <div class="row justify-content-center py-2" *ngIf="dataSource.data.length <= 0 && showLoader && restaurantId!=undefined">
              <app-loader></app-loader>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>