<form [formGroup]="editDetailsForm" novalidate class="form">
    <div class="row">
        <div class="col-6">
          <mat-form-field appearance="outline" class="w-100">
              <mat-label>Name</mat-label>
              <input matInput maxlength="100" 
              formControlName="name" value=""  [(ngModel)]="popupModelDetails.name">
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field appearance="outline" class="w-100">
              <mat-label>Contact</mat-label>
              <input matInput maxlength="100" 
              formControlName="contact" value=""  [(ngModel)]="popupModelDetails.contact">
          </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
          <mat-form-field appearance="outline" class="w-100">
              <mat-label>Restaurant</mat-label>
              <input matInput maxlength="100" 
              formControlName="restaurant" value=""  [(ngModel)]="popupModelDetails.restaurant">
          </mat-form-field>
        </div>
    </div>
</form >
<div class="d-flex justify-content-center mt-3">
    <div class="mx-2">
        <button type="submit" (click)="goBack()" class="btn btn-danger">Cancel</button>
    </div>
    <div class="mx-2">
        <button type="submit" (click)="Update()" class="btn btn-primary">Submit</button>
    </div>
</div>
