<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">perm_identity</i>
                  </div>
                  <h4 class="card-title">Admin</h4>
                </div>
                  <div class="card-body">
                      <div class="toolbar">
                          <!--        Here you can write extra buttons/actions for the toolbar              -->
                      </div>
                      <div class="row justify-content-end">
                        <button type="button" class="btn btn-fill btn-primary" (click)="createAdmin()">Create Admin +</button>
                      </div>
                      <div class="material-datatables">
                          <div fxLayout fxLayoutAlign="center center" class="offset-lg-6 col-lg-6 col-12">
                            <mat-form-field fxFlex="40%">
                              <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Search">
                            </mat-form-field>
                          </div>
                          <mat-table mat-table [dataSource]="dataSource" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                            <!-- [ 'Photo', 'First Name', 'Last Name', 'Contry', 'Restaurant', 'Actions' ] -->
                        
                            <ng-container matColumnDef="Photo">
                              <mat-header-cell *matHeaderCellDef> Photo </mat-header-cell>
                              <mat-cell *matCellDef="let element"> 
                                <img [src]="element.photoUrl" height="90px" width="90px" style="border-radius: 50%;margin: 10px 0px;"/>
                              </mat-cell>
                            </ng-container>
                            
                            <ng-container matColumnDef="First Name">
                              <mat-header-cell *matHeaderCellDef> First Name </mat-header-cell>
                              <mat-cell *matCellDef="let element"> {{element.firstName}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="Last Name">
                              <mat-header-cell *matHeaderCellDef> Last Name </mat-header-cell>
                              <mat-cell *matCellDef="let element"> {{element.lastName}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="Country">
                              <mat-header-cell *matHeaderCellDef> Country </mat-header-cell>
                              <mat-cell *matCellDef="let element"> {{element.userCountry}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="Restaurant">
                              <mat-header-cell *matHeaderCellDef> Restaurant </mat-header-cell>
                              <mat-cell *matCellDef="let element"> {{element.restaurantName}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="Actions">
                              <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
                              <mat-cell mat-cell *matCellDef="let element">
                                <a class="btn btn-link  btn-just-icon like"><i matTooltip="{{element.email}}" 
                                  [matTooltipPosition]="'right'" class="material-icons">email</i></a>
                                <a class="btn btn-link  btn-just-icon like"><i  matTooltip="{{element.mobileNumber}}" 
                                  [matTooltipPosition]="'right'" class="material-icons">add_ic_call</i></a>
                                <a class="btn btn-link  btn-just-icon like">
                                <span style=" background-image: url('../../../assets/img/whatsapp_icon.svg');
                                  height: 20px;
                                  width: 20px;
                                  background-size: cover;display: inline-block;" matTooltip="{{element.whatsAppNumber}}" 
                                  [matTooltipPosition]="'right'">
                                </span>
                                </a>
                                
                              </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="Block">
                              <mat-header-cell *matHeaderCellDef> Block </mat-header-cell>
                              <mat-cell mat-cell *matCellDef="let element">
                                <div class="togglebutton mt-2 mx-3">
                                  <label matTooltip="{{element.blocked ? 'Blocked' : 'Blocked'}}" 
                                  [matTooltipPosition]="'right'">
                                    <input type="checkbox" checked="{{element.blocked}}">
                                    <span class="toggle"></span>
                                  </label>
                                </div>
                              </mat-cell>
                            </ng-container>
                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="showDetails(row)"></mat-row>
                          </mat-table>
                          <div class="row justify-content-center py-2" *ngIf="showLoader">
                            <app-loader></app-loader>
                          </div>
                          <mat-paginator [length]="pageLength" [pageSize]="size" [pageSizeOptions]="[5]" 
                          (page)="pageEvent = $event; onPaginate($event)"
                          showFirstLastButtons>
                          </mat-paginator>
                        </div>

                  </div>
                  <!-- end content-->
              </div>
              <!--  end card  -->
          </div>
          <!-- end col-md-12 -->
      </div>
      <!-- end row -->
  </div>
</div>
<!--  -->