<div class="main-content">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="card">
                    <form [formGroup]="register">
                        <div _ngcontent-fmt-c15="" class="card-header card-header-primary py-4 d-flex justify-content-center">
                        <!-- <div class="card-header card-header-rose card-header-icon">
                        <div class="card-icon">
                          <i class="material-icons">mail_outline</i>
                        </div> -->
                        <h4 _ngcontent-fmt-c15="" class="card-title">Food Category</h4>
                      </div>
                        <div class="card-body">
                            <!-- <div class="row justify-content-center">
                                <div class="col-sm-4">
                                  <div class="picture-container">
                                    <div class="picture">
                                      <img src="./assets/img/default-avatar.png" class="picture-src" id="wizardPicturePreview" title="" />
                                      <input type="file" id="wizard-picture">
                                    </div>
                                    <h6 class="description">Choose Picture</h6>
                                  </div>
                                </div>
                            </div> -->
                            <div class="row justify-content-center"> 
                              <div class="col-lg-4">
                                <div class="picture-container">
                                  <div class="picture-square">
                                    <img [src]="downloadableURL" onerror="this.onerror=null;this.src='../../assets/img/image_placeholder.jpg'"  width="200px;"
                                    height="120px;" class="picture-src" id="PicturePreview" title="" />
                                    <input type="file" #picture (change)="imageUpload($event)" style="display: none;" accept=".jpeg,.jpg,.png,">
                                  </div>
                                  <!-- <h6 class="description">Choose Picture</h6> -->
                                </div>
                                
                                <div class=" d-flex justify-content-center">
                                  <!-- {{downloadableURL}} download url -->
                                  
                                  <div class="form-group " >
                                    <button type="button" (click)="picture.click()" mat-raised-button class="btn btn-primary btn-round background-color-primary">Upload Picture</button>
                                  </div>
                                </div>
                                <div *ngIf="progressValue | async as val" class="d-flex justify-content-center">
                                  <progress type="warning"  [value]="val" style="height: 3mm; width: 200px" max="100" ></progress>
                                  <br />
                                </div>
                                <div *ngIf="progressValue | async as val" class="d-flex justify-content-center">
                                    <span *ngIf="val<100" style="font-size: 16px;">{{ val | number}}% </span><span *ngIf="val == 100" style="color:rgb(1, 153, 34);  font-size: 16px">Completed !</span>
                                </div>
                              </div>
                            </div>
                            <!-- <input type="file" id="wizard-picture"  > -->
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Food Category Name" formControlName="food_category_name"
                                 maxlength="128" name="food_category_name" id="text" >
                              </mat-form-field>
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="Food Category Description" formControlName="food_category_description"
                                maxlength="256" name="food_category_description" id="text" >
                              </mat-form-field> 
                              <div class="row">
                                <div class="col-12">
                                  <mat-form-field>
                                      <!-- <mat-select placeholder="Select Restaurant Name" formControlName="restaurant_name">
                                          <mat-option *ngFor="let restaurant of restaurant" [value]="restaurant.value">
                                              {{ restaurant.viewValue }}
                                          </mat-option>
                                      </mat-select> -->
                                      <input class="typeahead-basic" matInput [resultFormatter]="formatterConstitution"
                                      [inputFormatter]="formatterConstitution" placeholder="Select Restaurant Name" 
                                      (focus)="focusConstitution$.next($event.target.value)"
                                      (click)="clickContitution$.next($event.target.value)" 
                                      value="{{restaurantSelected}}"
                                      formControlName="restaurant_name"
                                      [ngbTypeahead]="searchConstituon"/>
                                  </mat-form-field>
                                </div>
                            </div>
                            <div class="d-flex justify-content-end">
                              <button mat-raised-button type="submit" class="btn btn-primary" (click)="CreateFoodCategory()">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
