<div class="modal-header py-2 details-header">
    <p class="modal-title m-0" id="modal-basic-title" style="color: blanchedalmond;">
        <span class="material-icons">{{icon}}</span>
        <span class="modal-title-block" >{{title}}</span>
      </p>
</div>
<div class="modal-body" *ngIf="dataLoaded">
  <div class="row p-0 m-0" *ngIf="details.length > 0">
    <div class="col-2">
        <img [src]="data.photoUrl"
         onerror="this.src='../../../assets/img/no-image-placeholder.jpg';" height="150px" width="150px" 
        style="border-radius: 5px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" class="picture-src" title=""/>
      </div>
    <div class="col-4 mx-3">
      <mat-form-field appearance="outline">
        <mat-label >Name</mat-label>
        <input matInput readonly value="{{details[0].firstName}} {{details[0].lastName}} ">
        <div class="value">
          
        </div>
      </mat-form-field>
    </div>
</div>
<div class="mt-3 ">
    <div class="divider"></div>
    <div class="d-flex justify-content-center mt-1">
    <p style="font-size: 18px; font-weight: 800;color: #323232;">User Details</p>
    </div>
  </div>
  <mat-tab-group>
    <mat-tab label="About">
      <div *ngIf="details.length > 0">
         <div class="row my-3 m-0">
        <div class="col-4">
          <mat-form-field appearance="outline">
            <mat-label >User Email</mat-label>
            <input matInput readonly value="{{details[0].email}}">
          </mat-form-field>
        </div>
        <div class="col-4">
            <mat-form-field appearance="outline">
            <mat-label >User Contact Number</mat-label>
            <input matInput readonly value="{{details[0].mobileNumber}}">
              <div class="value">
                
              </div>
            </mat-form-field>
        </div>
        <div class="col-4">
            <mat-form-field appearance="outline">
            <mat-label >Restaurant Name</mat-label>
            <input matInput readonly value="{{details[0].restaurantName ? details[0].restaurantName : 'Not Available'}}">
              <div class="value">
                
              </div>
            </mat-form-field>
        </div>
    </div>
    <div class="row my-3 m-0">
        <div class="col-4">
            <mat-form-field appearance="outline">
            <mat-label >User Blocked</mat-label>
            <input matInput readonly value="{{details[0].blocked ? 'YES' : 'NO'}}">
              <div class="value">
                
              </div>
            </mat-form-field>
        </div>
        <div class="col-4">
            <mat-form-field appearance="outline">
            <mat-label >Whats App Number </mat-label>
            <input matInput readonly value="{{details[0].whatsAppNumber}}">
              <div class="value">
                
              </div>
            </mat-form-field>
        </div>
        <div class="col-4">
          <mat-form-field appearance="outline">
          <mat-label >Country </mat-label>
          <input matInput readonly value="{{details[0].userCountry ? details[0].userCountry : 'Not Available'}}">
            <div class="value">
              
            </div>
          </mat-form-field>
      </div>
    </div>
      </div>
      <div class="row justify-content-center py-2" *ngIf="details.length <= 0 ">
        <h4 class="description">No Details Available.!</h4>
      </div>
   
    </mat-tab>
    <mat-tab label="Address">
      <div class="d-flex justify-content-center " *ngIf="details[0].userAddressList.length <= 0 ">
        <h4 class="description">No Address Details Available.!</h4>
      </div>
      <div *ngIf="details[0].userAddressList.length > 0">
      <div class="row my-3 m-0" *ngFor="let item of details[0].userAddressList">
       <div class="col-4">
         <mat-form-field appearance="outline">
           <mat-label >Address type</mat-label>
           <input matInput readonly value="{{item.addressType}}">
         </mat-form-field>
       </div>
       <div class="col-4">
           <mat-form-field appearance="outline">
           <mat-label >Administrative Area</mat-label>
           <input matInput readonly value="{{item.administrativeArea}}">
             <div class="value">
               
             </div>
           </mat-form-field>
       </div>
       <div class="col-4">
           <mat-form-field appearance="outline">
           <mat-label >Country Code</mat-label>
           <input matInput readonly value="{{item.countryCode}}">
             <div class="value">
               
             </div>
           </mat-form-field>
       </div>
       <div class="col-4">
        <mat-form-field appearance="outline">
        <mat-label >Country Name</mat-label>
        <input matInput readonly value="{{item.countryName}}">
          <div class="value">
            
          </div>
        </mat-form-field>
    </div>
    <div class="col-4">
      <mat-form-field appearance="outline">
      <mat-label >Landmark</mat-label>
      <input matInput readonly value="{{item.landmark}}">
        <div class="value">
          
        </div>
      </mat-form-field>
    </div>
    <div class="col-4">
      <mat-form-field appearance="outline">
      <mat-label >Locality</mat-label>
      <input matInput readonly value="{{item.Locality}}">
        <div class="value">
          
        </div>
      </mat-form-field>
    </div>
    <div class="col-4">
      <mat-form-field appearance="outline">
      <mat-label >Postal Code</mat-label>
      <input matInput readonly value="{{item.postalCode}}">
        <div class="value">
          
        </div>
      </mat-form-field>
    </div>

    <div class="col-4">
      <mat-form-field appearance="outline">
      <mat-label >Premise</mat-label>
      <input matInput readonly value="{{item.premise}}">
        <div class="value">
          
        </div>
      </mat-form-field>
    </div>

    <div class="col-4">
      <mat-form-field appearance="outline">
      <mat-label >Street Address</mat-label>
      <input matInput readonly value="{{item.streetAddress}}">
        <div class="value">
          
        </div>
      </mat-form-field>
    </div>

    <div class="col-4">
      <mat-form-field appearance="outline">
      <mat-label >Sub Administrative Area</mat-label>
      <input matInput readonly value="{{item.subAdministrativeArea}}">
        <div class="value">
          
        </div>
      </mat-form-field>
    </div>
   </div>
     </div>
    </mat-tab>
  </mat-tab-group>
</div>
<div class="modal-footer">
    <div class="d-flex justify-content-center">
      <button type="button" (click)="edit()" class="btn btn-fill btn-primary mx-2">Edit</button>  
      <button type="button" (click)="active.dismiss('Cross click')" class="btn btn-fill btn-primary">Close</button>
    </div>
</div>
