<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col mr-auto ml-auto">
          <!--      Wizard container        -->
          <div class="wizard-container">
            <div class="card card-wizard" data-color="blue" id="wizardProfile">
              <form [formGroup]="type" action="" method="">
                <!--        You can switch " data-color="primary" "  with one of the next bright colors: "green", "orange", "red", "blue"       -->
                <div class="card-header text-center">
                  <h3 class="card-title my-2 " style="font-weight: 600;">
                    {{title}}
                  </h3>
                  <!-- <h5 class="card-description">This information will let us know more about you.</h5> -->
                </div>
                <div class="wizard-navigation">
                  <ul class="nav nav-pills">
                    <li class="nav-item">
                      <a class="nav-link active" href="#about" data-toggle="tab" role="tab">
                        About
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#account" data-toggle="tab" role="tab">
                        Address
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#address" data-toggle="tab" role="tab">
                        Document
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="card-body">
                  <div class="tab-content">
                    <div class="tab-pane active" id="about">
                      <h5 class="info-text"> Fill the details as per valid ID Proof</h5>
                      <!-- <button type="button" (click)="showSuccess()">success</button> -->
                      <div class="row justify-content-center">
                        <div class="col-sm-4" (click)="picture.click()">
                          <div class="picture-container">
                            <div class="picture">
                              <img [src]="downloadableURL" onerror="this.onerror=null;this.src='../../assets/img/default-avatar.png'" class="picture-src" id="wizardPicturePreview" title="" style="height: -webkit-fill-available; will-change: auto;"/>
                              <input type="file"  #picture (change)="imageUpload($event)" id="wizard-picture"  accept=".jpeg,.jpg,.png,">
                            </div>
                            <h6 class="description">Choose Picture</h6>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="input-group form-control-lg">
                            <div class="input-group-prepend">
                              <span class="input-group-text">
                                <i class="material-icons">face</i>
                              </span>
                            </div>
                            <mat-form-field class="example-full-width has-label" [ngClass]="displayFieldCss(type, 'firstName')">
                              <input type="text"
                              name="firstname"
                              matInput
                              id="text"
                              placeholder="First Name"
                              formControlName="firstName"
                              maxlength="128">
                            </mat-form-field>
                          </div>
                          <div class="input-group form-control-lg">
                            <div class="input-group-prepend">
                              <span class="input-group-text">
                                <i class="material-icons">face</i>
                              </span>
                            </div>
                            <mat-form-field class="example-full-width has-label" [ngClass]="displayFieldCss(type, 'lastName')">
                              <input type="text"
                              name="lastname"
                              matInput
                              id="text"
                              placeholder="last Name"
                              formControlName="lastName"
                              maxlength="128">
                            </mat-form-field>
                          </div>
                          <div class="input-group form-control-lg">
                            <div class="input-group-prepend">
                              <span class="input-group-text">
                                <i class="material-icons">perm_identity</i>
                              </span>
                            </div>
                            <div class="d-flex justify-content-center">
                              <span class="dropup  {{editDetails ? 'disable-pointer': ''}}">
                                <button href="#" class="dropdown-toggle btn btn-primary btn-round background-color-primary" data-toggle="dropdown">{{ editDetails ? editableData.userRole : ((selectedRole) ? selectedRole : 'select role')}}<b class="caret"></b></button>
                                <ul class="dropdown-menu dropdown-primary dropdown-menu-right">
                                  <li><a *ngFor="let item of rolls" (click)="selectRole(item.role)">{{item.role}}</a></li>
                                </ul>
                            </span>
                            </div>
                          </div>
                        </div>
                        <!--  ||  selectedRole != 'GLOBAL_ADMIN' ||  selectedRole != 'SUPPORT'  -->
                        <div class="col-lg-10 mt-3" *ngIf="isValidRole">
                          <div class="input-group form-control-lg p-0">
                            <div class="input-group-prepend">
                              <span class="input-group-text">
                                <i class="material-icons">restaurant</i>
                              </span>
                            </div>
                          <mat-form-field fxFlex="50%" >
                              <input class="typeahead-basic" matInput [resultFormatter]="formatterConstitution"
                              [inputFormatter]="formatterConstitution" placeholder="Select Restaurant Name" 
                              (focus)="focusConstitution$.next($event.target.value)" value="{{restaurantSelected}}"
                              (click)="clickContitution$.next($event.target.value)" formControlName="restaurant_Id"
                              [ngbTypeahead]="searchConstituon"/>
                          </mat-form-field>
                          </div>
                        </div>
                        <div class="col-lg-10 mt-3">
                          <div class="input-group form-control-lg p-0">
                            <div class="input-group-prepend">
                              <span class="input-group-text">
                                <i class="material-icons">email</i>
                              </span>
                            </div>
                            <mat-form-field class="example-full-width">
                               <input matInput placeholder="Email" formControlName="email"
                                 type="email" id="exampleemalil" name="email" maxlength="128"> 
                             </mat-form-field>
                          </div>
                        </div>
                        <div class="col-lg-10 mt-3">
                          <div class="">
                            <div class="row">
                              <div class="input-group form-control-lg  col-1 pr-0">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                    <i class="material-icons">add_ic_call</i>
                                  </span>
                                </div>
                              </div>
                              <div class="col-2 pl-0">
                                <mat-form-field style="    top: auto;">
                                  <!-- <mat-label>Favorite animal</mat-label> -->
                                  <mat-select formControlName="mobile_code">
                                    <mat-option [value]="item.code" *ngFor="let item of countryCode">{{item.code}}
                                    </mat-option>
                                  </mat-select>
                                </mat-form-field>
                              </div>
                              <div class="col-9 p-0">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Mobile number" formControlName="mob_number" maxlength="150"
                                    type="text" name="mob_number" id="mob_number" minlength="0" maxlength="16" onlyDigits>
                                </mat-form-field>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-10 mt-1">
                          <div class="">
                            <div class="row">
                              <div class="input-group form-control-lg  col-1 pr-0">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                    <i style=" background-image: url('../../../assets/img/whatsapp_icon.svg');
                                height: 20px;
                                width: 20px;
                                background-size: cover;"></i>
                                  </span>
                                </div>
                              </div>
                              <div class="col-2 pl-0">
                                <mat-form-field style="top: auto;">
                                  <mat-select formControlName="What_code">
                                    <mat-option [value]="item.code" *ngFor="let item of countryCode">{{item.code}}
                                    </mat-option>
                                  </mat-select>
                                </mat-form-field>
                              </div>
                              <div class="col-9 p-0">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Whatsapp number" formControlName="what_number" maxlength="150"
                                    type="text" name="what_number" id="what_number" minlength="0" maxlength="16" onlyDigits>
                                </mat-form-field>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane" id="account">
                      <h5 class="info-text"> Please enter your current address </h5>
                      <div formArrayName="user_adddress">
                        <div *ngFor="let item of type.controls.user_adddress['controls']; let i=index">
                          <div [formGroupName]="i">
                            <div style="border: solid 1px;border-radius: 10px;" class="my-2">
                              <div class="row">
                                <div class="col-12">
                                  <div class="input-group form-control-lg">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">
                                        <i class="material-icons">home</i>
                                      </span>
                                    </div>
                                    <mat-form-field class="example-full-width">
                                       <input matInput placeholder="appartment number/ flat number" formControlName="premise"
                                         type="text" name="premise" id="premise" maxlength="150">
                                     </mat-form-field>
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-12">
                                  <div class="input-group form-control-lg">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">
                                        <i class="material-icons">home</i>
                                      </span>
                                    </div>
                                    <mat-form-field class="example-full-width">
                                       <input matInput placeholder="Street address" formControlName="streetAddress" maxlength="150"
                                         type="text" name="streetAddress" id="streetAddress">
                                     </mat-form-field>
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-lg-6 col-12">
                                  <div class="input-group form-control-lg">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">
                                        <i class="material-icons">home</i>
                                      </span>
                                    </div>
                                    <mat-form-field class="example-full-width">
                                       <input matInput placeholder="locality" formControlName="locality" maxlength="150"
                                         type="text"  name="locality" id="locality">
                                     </mat-form-field>
                                  </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                  <div class="input-group form-control-lg">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">
                                        <i class="material-icons">home</i>
                                      </span>
                                    </div>
                                    <mat-form-field class="example-full-width">
                                       <input matInput placeholder="Country/district" formControlName="subAdministrativeArea" maxlength="150"
                                         type="text" name="subAdministrativeArea" id="subAdministrativeArea">
                                     </mat-form-field>
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-lg-6 col-12">
                                  <div class="input-group form-control-lg">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">
                                        <i class="material-icons">home</i>
                                      </span>
                                    </div>
                                    <mat-form-field class="example-full-width">
                                       <input matInput placeholder="State/province" formControlName="administrativeArea" maxlength="150"
                                         type="text" name="administrativeArea" id="administrativeArea">
                                     </mat-form-field>
                                  </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                  <div class="input-group form-control-lg">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">
                                        <i class="material-icons">local_post_office</i>
                                      </span>
                                    </div>
                                    <mat-form-field class="example-full-width">
                                       <input matInput placeholder="Postal Code" formControlName="postalCode" maxlength="150"
                                         type="text" name="postalCode" id="postalCode">
                                     </mat-form-field>
                                  </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                  <div class="input-group form-control-lg">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">
                                        <i class="material-icons">my_location</i>
                                      </span>
                                    </div>
                                    <mat-form-field class="example-full-width">
                                       <input matInput placeholder="Landmark" formControlName="landmark" maxlength="150"
                                         type="text" name="landmark" id="landmark">
                                     </mat-form-field>
                                  </div>
                                </div>
                                <div class="col-lg-6 col-12 mt-1">
                                  <div class="input-group form-control-lg">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">
                                        <i class="material-icons">flag</i>
                                      </span>
                                    </div>
                                    <mat-form-field>
                                      <mat-label>Country</mat-label>
                                      <mat-select formControlName="countryName">
                                        <mat-option [value]="item.countryName" *ngFor="let item of countryList">
                                          {{item.countryName}}
                                        </mat-option>
                                      </mat-select>
                                    </mat-form-field>
                                  </div>
                                </div>
                              </div>
                              <div class="row py-3">
                                <div class="col-12 d-flex justify-content-left px-5">
                                  <p style="font-weight: 600;">Adress type : </p>
                                <mat-radio-group formControlName="addressType">
                                  <mat-radio-button value="HOME" class="mx-1">Home</mat-radio-button>
                                  <mat-radio-button value="WORK" class="mx-1">Work</mat-radio-button>
                                  <mat-radio-button value="OTHER" class="mx-1">Other</mat-radio-button>
                                </mat-radio-group>
                                </div>
                              </div>
                              <div class="row justify-content-center" >
                                <p style="color: blue;cursor: pointer;" (click)="removeAdd(i)" >Remove</p>
                              </div>
                            </div>

                      </div>
                      </div>
                      </div>
                      <div class="row justify-content-center">
                        <button type="button" class="btn btn-fill btn-primary btn-round" (click)="AddMoreAdd()">add Address</button>
                      </div>
                    </div>
                    <div class="tab-pane" id="address">
                      <div class="row justify-content-center">
                        <div class="col-sm-12">
                          <h5 class="info-text"> Submit your valid Documents </h5>
                        </div>
                      </div>
                        <div class="row justify-content-left">
                          <div class="col-12 col-lg-4">
                            <div class="picture-container">
                              <div class="picture-square"> 
                              <input type="file" id="wizard-picture" style="display: none;">
                              <img [src]="idProofUrl" onerror="this.onerror=null;this.src='../../../assets/img/image_placeholder.jpg'" class="picture-src" id="wizardPicturePreview" title="" width="200px;"
                              height="120px;"/>
                              <input type="file"  #Proof (change)="idProofUpload($event)" id="wizard-picture"  >
                              </div>
                              <!-- <h6 class="description">Choose Picture</h6> -->
                            </div>
                            <div class=" d-flex justify-content-center">
                              <div class="form-group " >
                                <button mat-raised-button class="btn btn-primary btn-round background-color-primary" (click)="Proof.click()">Upload ID Proof</button>
                              </div>
                            </div>
                            <div *ngIf="idproofProgress | async as val" class="d-flex justify-content-center">
                              <progress type="warning"  [value]="val" style="height: 3mm; width: 200px" max="100" ></progress>
                              <br />
                              </div>
                              <div *ngIf="idproofProgress | async as val" class="d-flex justify-content-center">
                                  <span *ngIf="val<100" style="font-size: 16px;">{{ val | number}}% </span><span *ngIf="val == 100" style="color:rgb(1, 153, 34);  font-size: 16px">Completed !</span>
                              </div>
                          </div>
                          <div class="col-12 col-lg-8 py-4">
                            <mat-form-field class="example-full-width" >
                              <textarea matInput placeholder="Leave a comment" formControlName="idProofDescription" maxlength="150"></textarea>
                             </mat-form-field> 
                          </div>                   
                        </div>
                        <mat-divider class="my-2"></mat-divider>
                          <div class="row justify-content-left">
                            <div class="col-12 col-lg-4">
                              <div class="picture-container">
                                <div class="picture-square">
                                  <img [src]="addressUrl" onerror="this.onerror=null;this.src='../../../assets/img/image_placeholder.jpg'" class="picture-src" id="wizardPicturePreview" title="" width="200px;"
                                  height="120px;"/>
                                  <input type="file"  #Address (change)="addressUpload($event)" id="wizard-picture"  >
                                </div>
                                <!-- <h6 class="description">Choose Picture</h6> -->
                              </div>
                              <div class=" d-flex justify-content-center">
                                <div class="form-group " >
                                  <button mat-raised-button class=" btn btn-primary btn-round background-color-primary" (click)="Address.click()">Upload Address Proof</button>
                                </div>
                               
                              </div>
                              <div *ngIf="addressProgress | async as val" class="d-flex justify-content-center">
                                <progress type="warning"  [value]="val" style="height: 3mm; width: 200px" max="100" ></progress>
                                <br />
                                </div>
                                <div *ngIf="addressProgress | async as val" class="d-flex justify-content-center">
                                    <span *ngIf="val<100" style="font-size: 16px;">{{ val | number}}% </span><span *ngIf="val == 100" style="color:rgb(1, 153, 34);  font-size: 16px">Completed !</span>
                                </div>
                            </div>
                            <div class="col-12 col-lg-8 py-4">
                              <mat-form-field class="example-full-width" >
                                <textarea matInput placeholder="Leave a comment" formControlName="addProofDescription"  maxlength="150"></textarea>
                               </mat-form-field> 
                            </div>
                          </div>
                          <mat-divider class="my-2"></mat-divider>
                          <div class="row justify-content-left">
                            <div class="col-12 col-lg-4">
                              <div class="picture-container">
                                <div class="picture-square">
                                  <img [src]="otherUrl" onerror="this.onerror=null;this.src='../../../assets/img/image_placeholder.jpg'" class="picture-src" id="wizardPicturePreview" title="" width="200px;"
                                  height="120px;" />
                                  <input type="file"  #other (change)="otherUpload($event)" id="wizard-picture"  >
                                </div>
                              </div>
                              <div class=" d-flex justify-content-center">
                                <div class="form-group " >
                                  <button mat-raised-button class=" btn btn-primary btn-round background-color-primary" (click)="other.click()">Upload other Document</button>
                                </div>
                                
                              </div>
                              <div *ngIf="otherProgress | async as val" class="d-flex justify-content-center">
                                <progress type="warning"  [value]="val" style="height: 3mm; width: 200px" max="100" ></progress>
                                <br />
                                </div>
                                <div *ngIf="otherProgress | async as val" class="d-flex justify-content-center">
                                    <span *ngIf="val<100" style="font-size: 16px;">{{ val | number}}% </span><span *ngIf="val == 100" style="color:rgb(1, 153, 34);  font-size: 16px">Completed !</span>
                                </div>
                            </div>
                            <div class="col-12 col-lg-8 py-4">
                              <mat-form-field class="example-full-width" >
                                <textarea matInput placeholder="Leave a comment" formControlName="otherDescription"  maxlength="150"></textarea>
                               </mat-form-field> 
                            </div>
                          </div>
                    </div>
                  </div>
                </div>
                <div class="card-footer">
                  <div class="mr-auto">
                    <input type="button" class="btn btn-previous btn-fill btn-default btn-wd disabled" name="previous" value="Previous">
                  </div>
                  <div class="ml-auto">
                    <input type="button" class="btn btn-next btn-fill btn-primary btn-wd" name="next" value="Next">
                    <button (click)="createUsers()" class="btn btn-finish btn-fill btn-primary btn-wd" name="finish" value="Finish" style="display: none;">Finish</button>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </form>
            </div>
          </div>
          <!-- wizard container -->
        </div>
      </div>
    </div>
  </div>
  