<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-primary card-header-icon">
              <div class="card-icon">
                <i class="material-icons">fastfood</i>
              </div>
              <h4 class="card-title">Food Dishes</h4>
            </div>
            <div class="card-body">
                <div class="row justify-content-end">
                  <button type="button" class="btn btn-fill btn-primary" (click)="createDish()">Create Food Dish +</button>
                </div>
              <form [formGroup]="listForm">
                <div class="row ">
                  <div class="col-lg-8 col-md-8 col-sm-4">
                    <mat-form-field fxFlex="50%">
                        <input class="typeahead-basic" matInput [resultFormatter]="formatterConstitution"
                        [inputFormatter]="formatterConstitution" placeholder="Select Restaurant Name" 
                        (focus)="focusConstitution$.next($event.target.value)" (selectItem)="selectedRestaurantId($event)"
                        (click)="clickContitution$.next($event.target.value)" formControlName="restaurant_Id"
                        [ngbTypeahead]="searchConstituon"/>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-4 col-md-8 col-sm-4">
                    <mat-form-field fxFlex="50%">
                      <input matInput type="text" (keyup)="searchCategory()" placeholder="Search by Dish Name" formControlName="food_category_Search" [(ngModel)]="typeCategory">
                    </mat-form-field>
                  </div>
                </div>
              </form>
  
              <div class="box first-box">
                  <div class="row my-3 p-0 m-0" *ngIf="dataSource.data.length > 0">
                      <div class="col-lg-3 col-6 my-2" *ngFor="let item of dataSource.data" (click)="foodDetails(food, item)">
                          <div class="second-box cursor-pointer">
                              <div class="d-flex justify-content-center my-2">
                                <img [src]="item.imageURL" onerror="this.src='../../../assets/img/no-image-placeholder.jpg';" height="150px" width="150px" style="border-radius: 5px;" class="picture-src" title=""/>
                              </div>
                              <div class="d-flex justify-content-center px-2">
                                  <h4 class="description">{{item.name}}</h4>
                              </div>
                              <div class="d-flex justify-content-center px-2">
                                <p class="description">{{item.description}}</p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="row justify-content-end mx-3" *ngIf="dataSource.data.length > 0">
                    <mat-paginator [length]="pageLength" [pageSize]="size" [pageSizeOptions]="[8]" 
                      (page)="pageEvent = $event; onPaginate($event)"
                      showFirstLastButtons>
                      </mat-paginator>
                  </div>

                  <div class="row justify-content-center py-2" *ngIf="dataSource.data.length <= 0 && ! showLoader ">
                      <h4 class="description">No Category Available.!</h4>
                  </div>
                  <div class="row justify-content-center py-2" *ngIf="restaurantId==undefined">
                    <h4 class="description">Please Select Restaurant!</h4>
                </div>
                  <div class="row justify-content-center py-2" *ngIf="dataSource.data.length <= 0 && showLoader && restaurantId!=undefined">
                    <!-- <h4 class="description">No Restaurant Available.!</h4> -->
                    <app-loader></app-loader>
                  </div>
              </div>
            </div>
            <!-- end content-->
          </div>
          <!--  end card  -->
        </div>
        <!-- end col-md-12 -->
      </div>
      <!-- end row -->
    </div>
  </div>
  <!--  -->
  <ng-template #food let-modal>
    <div class="popupModal">
      <!-- model header -->
      <div class="modal-header p-2 details-header" >
        <p class="modal-title" id="modal-basic-title" style="color: blanchedalmond;">
          <span class="material-icons">fastfood</span>
          <span class="modal-title-block">Food Dish</span>
        </p>
        <span class=" mt-2" aria-hidden="true" ngbAutofocus ></span>
      </div>
    </div>
    <!-- model body -->
    <div class="popupBody my-3 mx-2">
      <!-- <div class="row"> -->
        <div class="row p-0 m-0">
          <!-- <div class="col-2">
            <img [src]="modalDetails.foodCategory.imageURL" onerror="this.src='../../../assets/img/no-image-placeholder.jpg';" height="150px" width="150px" 
            style="border-radius: 5px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" class="picture-src" title=""/>
          </div>
          <div class="col-4">
            <div class="title-details-card">
              <div class="title">
               Food Category Name 
              </div>
              <div class="value">
                {{modalDetails.foodCategory.name}}
              </div>
            </div>
          </div> -->
          <div class="col-2">
            <img [src]="modalDetails.imageURL" onerror="this.src='../../../assets/img/no-image-placeholder.jpg';" height="150px" width="150px" 
            style="border-radius: 5px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" class="picture-src" title=""/>
          </div>
          <div class="col-4">
            <div class="title-details-card">
              <div class="title">
                Food Dish Name
              </div>
              <div class="value">
                {{modalDetails.name}}
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="title-details-card">
              <div class="title">
               Food Category Name 
              </div>
              <div class="value">
                {{modalDetails.foodCategory.name}}
              </div>
            </div>
          </div> 
        </div>
      <!-- </div> -->
      <div class="mt-3 ">
        <mat-divider></mat-divider>
        <div class="d-flex justify-content-center mt-1">
        <p style="font-size: 18px; font-weight: 800;color: #323232;">Dish Details</p>
        </div>
      </div>
      <div class="row my-3 m-0">
        <div class="col-4">
          <mat-form-field appearance="outline">
            <mat-label >Food Type</mat-label>
            <input matInput readonly value="{{modalDetails.restaurantStatusfoodType}}">
      </mat-form-field>
    </div>
        <!-- <div class="col-4">
          <div class="details-card">
            <div class="title">
              Food Type
            </div>
            <div class="value">
              {{modalDetails.foodType}}
            </div>
          </div>
        </div> -->
        <div class="col-4">
          <mat-form-field appearance="outline">
            <mat-label>Availibility of the dish</mat-label>
            <input matInput readonly value="{{modalDetails.available?'Yes':'No'}}">
            </mat-form-field>
        </div>
        <div class="col-4">
          <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
           <input matInput readonly value="{{modalDetails.description}}">
          </mat-form-field>
        </div>
      </div>
      <div class="row my-3 m-0">
        <div class="col-4">
          <mat-form-field appearance="outline">
            <mat-label>Food Price With Discount</mat-label>
            <input matInput readonly value="{{modalDetails.foodPriceWithDiscount}}">
          </mat-form-field>
        </div>
        <div class="col-4">
          <mat-form-field appearance="outline">
            <mat-label>Food Price Without Tax</mat-label>
            <input matInput readonly value="{{modalDetails.foodPriceWithoutTax}}">
          </mat-form-field>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <button type="button" (click)="modal.dismiss('Cross click');edit()" class="btn btn-fill btn-primary">Edit</button>
        <button type="button" (click)="modal.dismiss('Cross click')" class="btn btn-fill btn-primary">Close</button>
      </div>
    </div>
  </ng-template>