<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary card-header-icon">
            <div class="card-icon">
              <i class="material-icons">restaurant</i>
            </div>
            <h4 class="card-title">Restaurant</h4>
          </div>
          <div class="card-body">
            <!-- <form [formGroup]="listForm"> -->
            <div class="row justify-content-end">
              <button type="button" class="btn btn-fill btn-primary" (click)="createRestaurant()">Create Restaurant
                +</button>
            </div>
            <div class="row">
              <div class="col-lg-4 col-md-8 col-sm-4">
                <mat-form-field fxFlex="50%">
                  <input matInput type="text" (keyup)="searchRestaurant()" placeholder="Search by Restaurant Name"
                    [(ngModel)]="typeRestaurant">
                </mat-form-field>
              </div>
            </div>

            <!-- </form> -->

            <div class="box first-box">
              <div class="row my-3 p-0 m-0" *ngIf="this.dataSource.data.length > 0 ">
                <div class="col-lg-6 col-12 my-2" *ngFor="let item of this.dataSource.data"
                  (click)="restaurantDetails(restaurant, item)">
                  <div class="second-box">
                    <div class="row p-0 m-0">
                      <div class="col-5 my-2">
                        <img [src]="item.restaurantImagesList[0] ? item.restaurantImagesList[0].imageURL : ''"
                          onerror="this.src='../../../assets/img/no-image-placeholder.jpg';" height="150px"
                          width="150px" style="border-radius: 5px;" class="picture-src" title="" />
                      </div>
                      <div class="col-6 my-2">
                        <h4 class="restaurant-name m-0">{{item.name}}</h4>
                        <p class="m-0">
                          <span>{{item.homeDeliveryAvailable ? 'Take Away' : ''}}</span>&nbsp;
                          <span *ngIf="item.pickupAvailable">&#8226;</span>&nbsp;
                          <span>{{item.pickupAvailable ? 'Pickup': ''}}</span>
                        </p>

                        <p *ngFor="let address of item.restaurantAddressList">
                          <span>{{address.locality}}</span>
                          <span *ngIf="item.pickupAvailable">,</span>&nbsp;
                          <span>{{address.countryName}}</span>
                        </p>

                        <p class="{{(item.restaurantStatus == 'CLOSED')? 'close': 'open'}}">
                          {{(item.restaurantStatus == 'CLOSED')? 'Closed': 'Open Now'}}</p>
                        <div class="d-flex justify-content-left">
                          <span
                            style="background: url('../../assets//img/star_rate.svg');
                                       height: 24px; width: 24px; display: block;background-size: cover;margin-top: 32px;">
                          </span>
                          <span style="margin-top: 32px;margin-left: 10px; font-size: 17px;">
                            {{item.rating}}
                          </span>
                        </div>
                      </div>
                      <div class="" *ngIf="item.covidSafetyLevel == 'HIGH'">
                        <span style=" background-image: url('../../assets//img/shield.svg');
                                      height: 28px;
                                      width: 28px;
                                      background-size: cover;
                                      display: inline-block;
                                      margin-top: 12px;" matTooltip="COVID-19 safety level : {{item.covidSafetyLevel}}"
                          [matTooltipPosition]="'right'" color="black"></span>
                      </div>
                    </div>
                    <div class="">
                      <div class="row justify-content-center">
                        <button type="button" *ngFor="let time of item.restaurantTimings"
                          class="btn {{(time.closedToday) ? 'btn-danger' : 'btn-success'}} mx-2" data-toggle="tooltip"
                          data-placement="right" title="Open From To" matTooltip="Day : {{time.dayOfWeek}}"
                          [matTooltipPosition]="'right'" color="black">
                          {{time.dayOfWeek[0]}}
                        </button>
                      </div>
                      <div class="row justify-content-center">
                        <button type="button" class="btn btn-primary btn-sm mx-2" matTooltip="{{item.mobileNumber}}"
                          [matTooltipPosition]="'right'">
                          <i class="fa fa-phone mx-2" aria-hidden="true"></i>Call Now</button>
                        <button type="button" class="btn btn-primary btn-sm mx-2" matTooltip="{{item.whatsAppNumber}}"
                          [matTooltipPosition]="'right'">
                          <i class="fa fa-whatsapp mx-2" aria-hidden="true"></i>WhatsApp</button>
                        <button type="button" class="btn btn-primary btn-sm mx-2" matTooltip="{{item.email}}"
                          [matTooltipPosition]="'right'">
                          <i class="material-icons mx-2">email</i>Email</button>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <div class="row justify-content-end mx-3" *ngIf="this.dataSource.data.length > 0">
                <mat-paginator [length]="pageLength" [pageSize]="size" [pageSizeOptions]="[6]"
                  (page)="pageEvent = $event; onPaginate($event)" showFirstLastButtons>
                </mat-paginator>
              </div>
              <div class="row justify-content-center py-2" *ngIf="this.dataSource.data.length <= 0 && ! showLoader">
                <h4 class="description">No Restaurant Available.!</h4>
                <!-- <app-loader></app-loader> -->
              </div>
              <div class="row justify-content-center py-2" *ngIf="this.dataSource.data.length <= 0 && showLoader">
                <!-- <h4 class="description">No Restaurant Available.!</h4> -->
                <app-loader></app-loader>
              </div>
            </div>
          </div>
          <!-- end content-->
        </div>
        <!--  end card  -->
      </div>
      <!-- end col-md-12 -->
    </div>
    <!-- end row -->
  </div>
</div>
<!--  -->
<ng-template #restaurant let-modal>
  <div class="popupModal">
    <!-- model header -->
    <div class="modal-header p-2 details-header">
      <p class="modal-title" id="modal-basic-title" style="color: blanchedalmond;">
        <span class="material-icons">restaurant</span>
        <span class="modal-title-block">Restaurant</span>
      </p>
      <span class=" mt-2" aria-hidden="true" ngbAutofocus></span>
    </div>
  </div>
  <!-- model body -->
  <div class="popupBody my-3 mx-2">
    <!-- <div class="row"> -->
    <div class="row p-0 m-0">
      <div class="col-2">
        <img [src]="modalDetails.restaurantImagesList.imageURL"
          onerror="this.src='../../../assets/img/no-image-placeholder.jpg';" height="150px" width="150px"
          style="border-radius: 5px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);"
          class="picture-src" title="" />
      </div>
      <div class="col-4">
        <div class="title-details-card">
          <div class="title">
            Restaurant Name
          </div>
          <div class="value">
            {{modalDetails.name}}
          </div>
        </div>
      </div>
      <!-- <div class="col-2">
            <img [src]="modalDetails.imageURL" onerror="this.src='../../../assets/img/no-image-placeholder.jpg';" height="150px" width="150px" 
            style="border-radius: 5px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" class="picture-src" title=""/>
          </div> -->
      <!-- <div class="col-4">
            <div class="title-details-card">
              <div class="title">
                Food Dish Name
              </div>
              <div class="value">
                {{modalDetails.name}}
              </div>
            </div>
          </div> -->
    </div>
    <!-- </div> -->
    <div class="mt-3 ">
      <mat-divider></mat-divider>
      <div class="d-flex justify-content-center mt-1">
        <p style="font-size: 18px; font-weight: 800;color: #323232;">Restaurant Details</p>
      </div>
    </div>

    <mat-tab-group>
      <mat-tab label="About">
        <div class="row my-3 m-0">
          <div class="col-4">
            <mat-form-field appearance="outline" floatLabelType="always" >
            <mat-label>Mobile Number</mat-label>
            <input matInput readonly value="{{modalDetails.mobileNumber}}">
              </mat-form-field>
          </div>
          <div class="col-4">
            <mat-form-field appearance="outline" floatLabelType="always" >
            <mat-label>Email</mat-label>
            <input matInput readonly value="{{modalDetails.email}}">
            </mat-form-field>
          </div>
          <div class="col-4">
            <mat-form-field appearance="outline" floatLabelType="always" >
            <mat-label>Covid Safety Level</mat-label>
            <input matInput readonly value="{{modalDetails.covidSafetyLevel}}">
            </mat-form-field>
          </div>
        </div>
        <div class="row my-3 m-0">
          <div class="col-4">
            <mat-form-field appearance="outline">
              <mat-label >Blocked</mat-label>
              <input matInput readonly value="{{modalDetails.blocked?'Yes':'No'}}">
            </mat-form-field>
          </div>
          <div class="col-4">
            <mat-form-field appearance="outline">
              <mat-label >Pickup Available</mat-label>
              <input matInput readonly value="{{modalDetails.pickupAvailable?'Yes':'No'}}">
            </mat-form-field>
          </div>
          <div class="col-4">
            <mat-form-field appearance="outline">
              <mat-label >Rating</mat-label>
              <input matInput readonly value="{{modalDetails.rating}}">
            </mat-form-field>
          </div>
        </div>
        <div class="row my-3 m-0">
          <div class="col-4">
            <mat-form-field appearance="outline">
              <mat-label >Home Delivery Available</mat-label>
              <input matInput readonly value="{{modalDetails.homeDeliveryAvailable?'Yes':'No'}}">
            </mat-form-field>
          </div>
          <div class="col-4">
            <mat-form-field appearance="outline">
              <mat-label >Average Cooking Time</mat-label>
              <input matInput readonly value="{{modalDetails.averageCookingTime}}">
            </mat-form-field>
          </div>
          <div class="col-4">
            <mat-form-field appearance="outline">
              <mat-label>Average Delivery Time</mat-label>
              <input matInput readonly value="{{modalDetails.averageDeliveryTime}}">
            </mat-form-field>
          </div>
        </div>
        <div class="row my-3 m-0">
          <div class="col-4">
            <mat-form-field appearance="outline">
              <mat-label>Restaurant Status</mat-label>
              <input matInput readonly value="{{modalDetails.restaurantStatus}}">
            </mat-form-field>
          </div>
          </div>

      </mat-tab>
      <mat-tab label="Address">
        <div class="row my-3 m-0">
          <div class="col-4" *ngFor="let item of modalDetails.restaurantAddressList">
            <mat-form-field appearance="outline">
              <mat-label >Area</mat-label>
              <input matInput readonly value="{{item.administrativeArea}}">
            </mat-form-field>
          </div>
          <div class="col-4" *ngFor="let item of modalDetails.restaurantAddressList">
            <mat-form-field appearance="outline">
              <mat-label >Country</mat-label>
              <input matInput readonly value="{{item.countryName}}">
            </mat-form-field>
          </div>
          <div class="col-4" *ngFor="let item of modalDetails.restaurantAddressList">
            <mat-form-field appearance="outline">
              <mat-label >Landmark</mat-label>
              <input matInput readonly value="{{item.landmark}}">
            </mat-form-field>
          </div>
        </div>
        <div class="row my-3 m-0">
          <div class="col-4" *ngFor="let item of modalDetails.restaurantAddressList">
            <mat-form-field appearance="outline">
              <mat-label >Premise</mat-label>
              <input matInput readonly value="{{item.premise}}">
            </mat-form-field>
          </div>
          
          <div class="col-4" *ngFor="let item of modalDetails.restaurantAddressList">
            <mat-form-field appearance="outline">
              <mat-label >Locality</mat-label>
              <input matInput readonly value="{{item.locality}}">
            </mat-form-field>
          </div>
          <div class="col-4" *ngFor="let item of modalDetails.restaurantAddressList">
            <mat-form-field appearance="outline">
              <mat-label >Street Address</mat-label>
              <input matInput readonly value="{{item.streetAddress}}">
            </mat-form-field>
          </div>
        </div>
          <div class="row my-3 m-0">
            <div class="col-4" *ngFor="let item of modalDetails.restaurantAddressList">
              <mat-form-field appearance="outline">
              <mat-label >Sub Administrative Area</mat-label>
              <input matInput readonly value="{{item.subAdministrativeArea}}">
              </mat-form-field>
            </div>
            <div class="col-4" *ngFor="let item of modalDetails.restaurantAddressList">
              <mat-form-field appearance="outline">
              <mat-label >Latitude</mat-label>
              <input matInput readonly value="{{item.latitude}}">
              </mat-form-field>
            </div>
          
          <div class="col-4" *ngFor="let item of modalDetails.restaurantAddressList">
            <mat-form-field appearance="outline">
              <mat-label >Longitude</mat-label>
              <input matInput readonly value="{{item.longitude}}">
            </mat-form-field>
          </div>
          
        </div>
        <div class="row my-3 m-0">
        <div class="col-4" *ngFor="let item of modalDetails.restaurantAddressList">
          <mat-form-field appearance="outline">
              <mat-label >Postal Code</mat-label>
             <input matInput readonly value="{{item.postalCode}}">
          </mat-form-field>
        </div>
        </div>
  </mat-tab>
  <mat-tab label="Timing">
    <div class="row my-3 m-0">
      <div class="col-3">
        <mat-form-field appearance="outline">
          <mat-label>Day Of Week</mat-label>
          <input matInput readonly value="{{modalDetails.restaurantTimings[0].dayOfWeek}}">
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field appearance="outline">
          <mat-label>From Time</mat-label>
          <input matInput readonly value="{{modalDetails.restaurantTimings[0].fromTime}}">
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field appearance="outline">
          <mat-label>To Time</mat-label>
          <input matInput readonly value="{{modalDetails.restaurantTimings[0].toTime}}">
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field appearance="outline">
          <mat-label>Closed Today</mat-label>
          <input matInput readonly value="{{modalDetails.restaurantTimings[0].closedToday?'Yes':'No'}}">
        </mat-form-field>
      </div>
    </div>
    <div class="row my-3 m-0">
      <div class="col-3">
        <mat-form-field appearance="outline">
          <mat-label>Day Of Week</mat-label>
          <input matInput readonly value="{{modalDetails.restaurantTimings[1].dayOfWeek}}">
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field appearance="outline">
          <mat-label>From Time</mat-label>
          <input matInput readonly value="{{modalDetails.restaurantTimings[1].fromTime}}">
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field appearance="outline">
          <mat-label>To Time</mat-label>
          <input matInput readonly value="{{modalDetails.restaurantTimings[1].toTime}}">
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field appearance="outline">
          <mat-label>Closed Today</mat-label>
          <input matInput readonly value="{{modalDetails.restaurantTimings[1].closedToday?'Yes':'No'}}">
        </mat-form-field>
      </div>
    </div>
    <div class="row my-3 m-0">
      <div class="col-3">
        <mat-form-field appearance="outline">
          <mat-label>Day Of Week</mat-label>
          <input matInput readonly value="{{modalDetails.restaurantTimings[2].dayOfWeek}}">
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field appearance="outline">
          <mat-label>From Time</mat-label>
          <input matInput readonly value="{{modalDetails.restaurantTimings[2].fromTime}}">
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field appearance="outline">
          <mat-label>To Time</mat-label>
          <input matInput readonly value="{{modalDetails.restaurantTimings[2].toTime}}">
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field appearance="outline">
          <mat-label>Closed Today</mat-label>
          <input matInput readonly value="{{modalDetails.restaurantTimings[2].closedToday?'Yes':'No'}}">
        </mat-form-field>
      </div>
    </div>
    <div class="row my-3 m-0">
      <div class="col-3">
        <mat-form-field appearance="outline">
          <mat-label>Day Of Week</mat-label>
          <input matInput readonly value="{{modalDetails.restaurantTimings[3].dayOfWeek}}">
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field appearance="outline">
          <mat-label>From Time</mat-label>
          <input matInput readonly value="{{modalDetails.restaurantTimings[3].fromTime}}">
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field appearance="outline">
          <mat-label>To Time</mat-label>
          <input matInput readonly value="{{modalDetails.restaurantTimings[3].toTime}}">
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field appearance="outline">
          <mat-label>Closed Today</mat-label>
          <input matInput readonly value="{{modalDetails.restaurantTimings[3].closedToday?'Yes':'No'}}">
        </mat-form-field>
      </div>
    </div>
    <div class="row my-3 m-0">
      <div class="col-3">
        <mat-form-field appearance="outline">
          <mat-label>Day Of Week</mat-label>
          <input matInput readonly value="{{modalDetails.restaurantTimings[4].dayOfWeek}}">
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field appearance="outline">
          <mat-label>From Time</mat-label>
          <input matInput readonly value="{{modalDetails.restaurantTimings[4].fromTime}}">
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field appearance="outline">
          <mat-label>To Time</mat-label>
          <input matInput readonly value="{{modalDetails.restaurantTimings[4].toTime}}">
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field appearance="outline">
          <mat-label>Closed Today</mat-label>
          <input matInput readonly value="{{modalDetails.restaurantTimings[4].closedToday?'Yes':'No'}}">
        </mat-form-field>
      </div>
    </div>
    <div class="row my-3 m-0">
      <div class="col-3">
        <mat-form-field appearance="outline">
          <mat-label>Day Of Week</mat-label>
          <input matInput readonly value="{{modalDetails.restaurantTimings[5].dayOfWeek}}">
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field appearance="outline">
          <mat-label>From Time</mat-label>
          <input matInput readonly value="{{modalDetails.restaurantTimings[5].fromTime}}">
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field appearance="outline">
          <mat-label>To Time</mat-label>
          <input matInput readonly value="{{modalDetails.restaurantTimings[5].toTime}}">
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field appearance="outline">
          <mat-label>Closed Today</mat-label>
          <input matInput readonly value="{{modalDetails.restaurantTimings[5].closedToday?'Yes':'No'}}">
        </mat-form-field>
      </div>
    </div>
    <div class="row my-3 m-0">
      <div class="col-3">
        <mat-form-field appearance="outline">
          <mat-label>Day Of Week</mat-label>
          <input matInput readonly value="{{modalDetails.restaurantTimings[6].dayOfWeek}}">
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field appearance="outline">
          <mat-label>From Time</mat-label>
          <input matInput readonly value="{{modalDetails.restaurantTimings[6].fromTime}}">
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field appearance="outline">
          <mat-label>To Time</mat-label>
          <input matInput readonly value="{{modalDetails.restaurantTimings[6].toTime}}">
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field appearance="outline">
          <mat-label>Closed Today</mat-label>
          <input matInput readonly value="{{modalDetails.restaurantTimings[6].closedToday?'Yes':'No'}}">
        </mat-form-field>
      </div>
    </div>
    
  </mat-tab>
  </mat-tab-group>

  <div class="d-flex justify-content-center">
    <button type="button" (click)="modal.dismiss('Cross click');edit()" class="btn btn-fill btn-primary mx-1">Edit</button>
      <button type="button" (click)="modal.dismiss('Cross click')" class="btn btn-fill btn-primary mx-1">Close</button>
    </div>
  </div>
</ng-template>