/* You can add global styles to this file, and also import other style files */
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

$someColor: #2163ba !default;
.text-color-blue {
    color: #1f2cde;
}
.whatsup_icon {
    background-image: url('./assets/img/whatsapp_icon.svg');
    height: 20px;
    width: 20px;
    background-size: cover;
}

div.dataTables_wrapper div.dataTables_filter label{
    display: grid;
}


.mat-header-cell {
  flex-direction: column;
  justify-content: center;
}

.mat-cell {
  text-align: center;
  justify-content:center;
}


.timepicker {

  .timepicker__header {
    background-color: $someColor !important;
  }

  .clock-face__clock-hand {
    background-color: $someColor !important;

    &::after {
      background-color: $someColor !important;
    }

    &::before {
      border-color: $someColor !important;
    }
  }

  .clock-face__number {
    > span.active {
      background-color: $someColor !important;
    }
  }

  button:not(.timepicker-dial__item) {
    color: $someColor !important;
  }
}

.picture-container {
  position: relative;
  cursor: pointer;
  text-align: center;
}
.picture-square {
  width: 200px;
  height: 120px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #999999;
  border: 4px solid #CCCCCC;
  color: #FFFFFF;
  border-radius: 5%;
  margin: 5px auto;
  overflow: hidden;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;

&:hover{
  border-color: #2ca8ff;
}
}

.mat-option.mat-selected:not(.mat-option-multiple) {
  background: $someColor !important;
}
.mat-option:hover {
  background: $someColor !important;
}
ngb-typeahead-window {
  width: 100%;
  .dropdown-item.active {
    width: 100%;
  }
  .dropdown-item {
    width: 100%;
  }
}

.disable-pointer {
  pointer-events: none;
  color: red;
  cursor: none;
}
.cursor-pointer {
  cursor: pointer;
}
.modal .modal-dialog {
  max-width: 1000px;
  z-index: 20;
}

.pac-container {
  right: 10px;
    background-color: #FFF;
    z-index: 1100 !important;
    position: relative;
    top: 10px;
    width: 500px;
}
.details-header {
  background: $someColor !important;
  margin: 1px;
}


.title-details-card {
  padding: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: $someColor !important;
  .title {
    color: #FFFFFF;
    font-size: 17px;
    margin: 0;
  }
  .value {
    color: #FFFFFF;
    font-size: 16px;
    margin: 0;
  }
}
.modal-title-block {
  display: block;
}
.divider {
  border: 0.5px solid #e8e6e6;
}
// ::ng-deep .modal { z-index: 1001 !important;} 

// ::ng-deep .modal-backdrop {z-index: 1000 !important;}

// ::ng-deep .pac-container {z-index: 1055 !important;}


