<form [formGroup]="createNewForm" novalidate class="form">
    <div class="row">
        <div class="col-6">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Name</mat-label>
                <input matInput maxlength="100" formControlName="name" value="">
            </mat-form-field>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-6 col-lg-3">
                    <img id="output" width="100" height="100" style="border-radius: 50%;"/>
                </div>
                <div class="col-6 col-lg-3 py-2">
                    <button (click)="img.click()" class="btn btn-primary">Upload image</button>
                    <input type="file" #img accept="image/gif, image/jpeg, image/png" name="image"
                    (change)="saveImage($event)" style="display: none;">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Mobile Number</mat-label>
                <input matInput maxlength="100" formControlName="mobile" value="">
            </mat-form-field>
        </div>
        <div class="col-6">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Whattsapp number</mat-label>
                <input matInput maxlength="100" formControlName="whatsapp" value="">
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Username</mat-label>
                <input matInput maxlength="100" formControlName="username" value="">
            </mat-form-field>
        </div>
        <div class="col-6">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Email</mat-label>
                <input matInput maxlength="100" formControlName="email" value="">
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Password</mat-label>
                <input matInput maxlength="100" formControlName="password" value="">
            </mat-form-field>
        </div>
        <div class="col-6">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Restaurant</mat-label>
                <mat-select formControlName="restaurant">
                    <mat-option value="">Bearatie</mat-option>
                    <mat-option value="">Bearatie 1</mat-option>
                    <mat-option value="">Bearatie 2</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="">
                <p class="title">Status</p>
            </div>
            <div class=" m-0 p-0">
                <mat-radio-group formControlName="status" aria-label="Select an option">
                    <mat-radio-button value="Block" class="mr-2">Block
                    </mat-radio-button>
                    <mat-radio-button value="Unblock">Unblock
                    </mat-radio-button>
                </mat-radio-group>
            </div>
        </div>

    </div>
    <p class="title mt-3">Upload Documents</p>
    <div class="row">
        <div class="col-6">
            <mat-label class="mt-2">Id Proof</mat-label><br>
            <input type="file" id="img" name="img" (change)="saveImage($event)">
        </div>
        <div class="col-6">
            <mat-label class="mt-2">Address Proof</mat-label><br>
            <input type="file" id="img" name="img" (change)="saveImage($event)">
        </div>
    </div>
</form>
<div class="d-flex justify-content-center mt-3">
    <div class="mx-2">
        <button type="submit" (click)="goBack()" class="btn btn-danger">Cancel</button>
    </div>
    <div class="mx-2">
        <button type="submit" (click)="createNew()" class="btn btn-primary">Submit</button>
    </div>
</div>